<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLF3R2FB5T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BLF3R2FB5T');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>げんかるく - 原神ダメージシミュレーター</title>
    <meta name="description" content="原神@HoYoverseのダメージ計算を行うシミュレーターです。" />
    <meta name="keywords" content="原神,ダメージ,計算,武器,聖遺物" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="styles/normalize.css" rel="stylesheet" />
    <link href="styles/base-style.css" rel="stylesheet" />
    <link href="styles/gencalc3.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"></script>
    <script src="js/gencalc3_var.js"></script>
    <script src="js/gencalc3_core.js"></script>
    <script src="js/gencalc3_func.js"></script>
    <script src="js/gencalc3.js"></script>
    <style type="text/css">
    </style>
</head>

<body>
    <div id="main">
        <div class="base-container">
            <div class="pane1">
                <fieldset style="margin: 1rem; min-height: 15rem; position: relative;">
                    <legend>げんかるく - 原神ダメージシミュレーター Ver.3.0.0</legend>
                    <p>
                        <a href="ArtifactSetList.html">聖遺物セット効果一覧</a>
                        <a href="BirthdayCalendar.html">誕生日カレンダー</a>
                    </p>
                    <p>
                        <a href="WeaponList.html?kind=Sword">片手剣一覧</a>
                        <a href="WeaponList.html?kind=Claymore">両手剣一覧</a>
                        <a href="WeaponList.html?kind=Polearm">長柄武器一覧</a>
                        <a href="WeaponList.html?kind=Bow">弓一覧</a>
                        <a href="WeaponList.html?kind=Catalyst">法器一覧</a>
                    </p>
                    <p>
                        <a href="RandomTeam.html">ランダムチーム編成メーカー</a>
                    </p>
                    <div style="position: absolute; right: 1rem; top: 0">
                        <a href="https://zawazawa.jp/gencalc/topic/1" target="_blank"
                            rel="noopener noreferrer">バグ報告・要望</a>
                    </div>
                    <div style="position: absolute; left: 1rem; top: 0">
                        <a href="history.html">更新履歴</a>
                    </div>
                    <div style="position: absolute; left: 1rem; bottom: 0;">
                        <a href="RotationVisualizer.html">げんろーて</a>
                    </div>
                </fieldset>
            </div>

            <div class="pane2" id="character-select">
                <div v-if="isVisible">
                    <div class="filter">
                        <label v-for="item in filters.vision.list">
                            <input class="hidden" type="radio" :value="item.name" name="filter-character-vision"
                                @click="filterOnClick(filters.vision, $event)">
                            <img :class="'filter' + (filters.vision.selected == item.name ? ' selected' : '')"
                                :src="item.url" :alt="item.name">
                        </label>
                    </div>
                    <div class="filter">
                        <label v-for="item in filters.weapon.list">
                            <input class="hidden" type="radio" :value="item.name" name="filter-character-weapon"
                                @click="filterOnClick(filters.weapon, $event)">
                            <img :class="'filter' + (filters.weapon.selected == item.name ? ' selected' : '')"
                                :src="item.url" :alt="item.name">
                        </label>
                    </div>
                    <ul class="character-list">
                        <li v-for="item in filteredList">
                            <img :class="'character with-tooltip ' + classSelected(item)" :src="iconUrl(item)"
                                :alt="item.name" @click="onClick"
                                :style="'background-image: url(' + starBackgroundUrl(item) +')'">
                            <div class="tooltip">{{item.name}}</div>
                            <img class="vision" :src="elementImgSrc(item)" :alt="item.vision">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pane3">
                <div id="character-input">
                    <table>
                        <tr>
                            <td colspan="3" rowspan="3" style="width: 180px; position: relative;">
                                <img class="character" :src="master['icon_url']" :alt="name"
                                    :style="'background-image: url(' + starBackgroundUrl +')'"
                                    @click="characterOnClick">
                                <img class="vision" :src="elementImgSrc" :alt="master['元素']">
                            </td>
                            <td :class="'title ' + colorClass" colspan="3" style="position: relative;">
                                {{displayName(master['名前'])}}
                                <span class="material-symbols-outlined" style="position: absolute; right: 0;"
                                    @click="characterInfoOnClick"> info </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" @click="saveOnClick">
                                    Save<br>
                                    <span class="material-symbols-outlined"> save </span>
                                </button>
                            </td>
                            <td>
                                &emsp;
                            </td>
                            <td>
                                <button type="button" @click="removeOnClick">
                                    Remove<br>
                                    <span class="material-symbols-outlined"> delete </span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: left;">
                                <label>
                                    build name:
                                    <input class="save-name" type="text" v-model="saveName" maxlength="20">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="突破レベル" @change="ascensionOnChange">
                                    <option v-for="item in ascensionRange" :value="item"> A{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="レベル">
                                    <option v-for="item in levelRange" :value="item"> Lv.{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="命ノ星座">
                                    <option v-for="item in constellationRange" :value="item"> C{{item}} </option>
                                </select>
                            </td>
                            <td colspan="3">
                                <label class="button open-close">
                                    <input class="hidden" type="checkbox" v-model="おすすめセットOption.isOpen">
                                    <span></span>
                                    {{displayName('おすすめセット')}}
                                </label>
                            </td>
                        </tr>
                        <tr v-if="おすすめセットOption.isOpen">
                            <td colspan="6">
                                <select :value="おすすめセット">
                                    <option v-for="item in おすすめセットOption.list" :value="item[0]">{{item[0]}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td colspan="3" rowspan="3" style="width: 180px;">
                                <img class="weapon" :src="weaponMaster['icon_url']" :alt="weaponMaster['名前']"
                                    :style="'background-image: url(' + weaponStarBackgroundUrl +')'"
                                    @click="weaponOnClick">
                            </td>
                            <td>
                                <img :class="'talent ' + bgColorClass" :src="master['通常攻撃']['icon_url']"
                                    :alt="master['通常攻撃']['名前']" @click="normalAttackOnClick">
                            </td>
                            <td>
                                <img :class="'talent ' + bgColorClass" :src="master['元素スキル']['icon_url']"
                                    :alt="master['元素スキル']['名前']" @click="elementalSkillOnClick">
                            </td>
                            <td>
                                <img :class="'talent ' + bgColorClass" :src="master['元素爆発']['icon_url']"
                                    :alt="master['元素爆発']['名前']" @click="elementalBurstOnClick">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="通常攻撃レベル">
                                    <option v-for="item in normalAttackLevelRange" :value="item"> Lv.{{item}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="元素スキルレベル">
                                    <option v-for="item in elementalSkillLevelRange" :value="item"> Lv.{{item}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="元素爆発レベル">
                                    <option v-for="item in elementalBurstLevelRange" :value="item"> Lv.{{item}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <label @click="artifactSetOnClick(0)">
                                    <img :class="'artifact-set ' + classArtifactSetSelected(0)"
                                        :src="聖遺物セット効果[0].master.image" :alt="聖遺物セット効果[0]['名前']">
                                </label>
                            </td>
                            <td rowspan="2">
                                <label @click="artifactSetOnClick(1)">
                                    <img :class="'artifact-set ' + classArtifactSetSelected(1)"
                                        :src="聖遺物セット効果[1].master.image" :alt="聖遺物セット効果[1]['名前']">
                                </label>
                            </td>
                            <td rowspan="2" @click="artifactDetailOnClick">
                                <button type="button" class="artifact-detail-button">
                                    <img class="left-icon" src="images/artifact.png" alt="聖遺物詳細">
                                    <img class="right-icon" src="images/artifact.png" alt="聖遺物詳細">
                                    {{artifactScore}}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="武器突破レベル" @change="weaponAscensionOnChange">
                                    <option v-for="item in weaponAscensionRange" :value="item"> A{{item}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="武器レベル">
                                    <option v-for="item in weaponLevelRange" :value="item"> Lv.{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="武器精錬ランク">
                                    <option v-for="item in weaponRefineRange" :value="item"> R{{item}} </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="pane4">
                <div id="weapon-select">
                    <table v-if="isVisible">
                        <tr>
                            <th colspan="2">{{selected}}</th>
                        </tr>
                        <tr>
                            <th>{{displayName('基礎攻撃力')}}</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>

                    <ul class="weapon-list" v-if="isVisible">
                        <li v-for="item in list">
                            <label class="with-tooltip">
                                <img class="weapon" :src="iconUrl(item)" :alt="item.name"
                                    :style="'background-image: url(' + starBackgroundUrl(item) +')'"
                                    @click="onClick($event)">
                            </label>
                            <div class="tooltip">{{item.name}}</div>
                        </li>
                    </ul>
                </div>

                <div id="artifact-set-select">
                    <table v-if="isVisible">
                        <tr>
                            <th>{{displayName(descriptionTitle(0))}}</th>
                        </tr>
                        <tr>
                            <td>{{description(0)}}</td>
                        </tr>
                        <tr>
                            <th>{{displayName(descriptionTitle(1))}}</th>
                        </tr>
                        <tr>
                            <td>{{description(1)}}</td>
                        </tr>
                    </table>

                    <ul class="select-list" v-if="isVisible">
                        <li v-for="item in list">
                            <label class="with-tooltip">
                                <img :class="'artifact-set '" :src="iconUrl(item)" :alt="item.name"
                                    :style="'background-image: url(' + starBackgroundUrl(item) +')'"
                                    @click="onClick(item)">
                            </label>
                            <div class="tooltip">{{displayName(item.name)}}</div>
                        </li>
                    </ul>
                </div>

                <div id="artifact-detail-input">
                    <fieldset style="margin-bottom: 10px;">
                        <legend> {{displayName('聖遺物メイン効果')}} </legend>
                        <label class="column-2"> {{displayName('生の花')}}
                            <select class="artifact-detail" v-model="聖遺物メイン効果[0]">
                                <option value=""></option>
                                <option v-for="item in mainStatList(0)" :value="item">{{displayName(item)}}</option>
                            </select>
                        </label>
                        <label class="column-2"> {{displayName('死の羽')}}
                            <select class="artifact-detail" v-model="聖遺物メイン効果[1]">
                                <option value=""></option>
                                <option v-for="item in mainStatList(1)" :value="item">{{displayName(item)}}</option>
                            </select>
                        </label>
                        <label class="column-3"> {{displayName('時の砂')}} <br>
                            <select class="artifact-detail" v-model="聖遺物メイン効果[2]">
                                <option value=""></option>
                                <option v-for="item in mainStatList(2)" :value="item">{{displayName(item)}}</option>
                            </select>
                        </label>
                        <label class="column-3"> {{displayName('空の杯')}} <br>
                            <select class="artifact-detail" v-model="聖遺物メイン効果[3]">
                                <option value=""></option>
                                <option v-for="item in mainStatList(3)" :value="item">{{displayName(item)}}</option>
                            </select>
                        </label>
                        <label class="column-3"> {{displayName('理の冠')}} <br>
                            <select class="artifact-detail" v-model="聖遺物メイン効果[4]">
                                <option value=""></option>
                                <option v-for="item in mainStatList(4)" :value="item">{{displayName(item)}}</option>
                            </select>
                        </label>
                    </fieldset>
                    <table class="status" style="margin-bottom: 10px;">
                        <tr>
                            <th :colspan="isEditable ? 3 : 2">
                                <label class="open-close">
                                    <input class="hidden" type="checkbox" v-model="isステータスOpened">
                                    <span></span>
                                    {{displayName('聖遺物ステータス')}}
                                </label>
                            </th>
                        </tr>
                        <tr v-for="item in statList">
                            <th>{{displayName(item)}}</th>
                            <td v-show="isEditable">
                                <input type="number" v-model="聖遺物ステータス補正[item]">
                            </td>
                            <td> {{displayNumber(item, 聖遺物ステータス[item])}} </td>
                        </tr>
                        <tr>
                            <td :colspan="isEditable ? 3 : 2">
                                <label>
                                    <input type="checkbox" v-model="isEditable">
                                    {{displayName('補正値入力モード')}}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td :colspan="isEditable ? 3 : 2">
                                <label>
                                    <input type="checkbox" v-model="補正値0初期化Enabled">
                                    {{displayName('補正値0初期化')}}
                                </label>
                                <button type="button" style="width: 10rem"
                                    :disabled="!補正値0初期化Enabled">{{displayName('実行')}}</button>
                            </td>
                        </tr>
                    </table>
                    <fieldset>
                        <table>
                            <tr>
                                <th>{{displayName('サブ効果')}}</th>
                                <th>{{displayName('上昇量')}}</th>
                                <th>{{displayName('回数')}}</th>
                            </tr>
                            <tr v-for="item in [0,1,2]">
                                <td>
                                    <select v-model="聖遺物優先するサブ効果[item]">
                                        <option v-for="subitem in priorityStatList" :value="subitem">
                                            {{displayName(subitem)}} </option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="聖遺物優先するサブ効果上昇量[item]">
                                        <option v-for="subitem in subStatUpList(item)" :value="subitem">
                                            {{displayName(subitem)}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="聖遺物優先するサブ効果上昇回数[item]">
                                        <option v-for="subitem in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"
                                            :value="subitem">{{subitem}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>

                <div id="character-information">
                    <table>
                        <tr v-for="key in Object.keys(master['ステータス'])">
                            <th>{{displayName(key)}}</th>
                            <td></td>
                        </tr>
                    </table>
                    <table v-for="category in ['通常攻撃', '元素スキル', '元素爆発']">
                        <tr>
                            <th></th>
                            <th>{{displayName(master[category]['名前'])}}</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{displayName(master[category]['説明'])}}</td>
                        </tr>
                        <template v-if="master[category]['詳細']">
                            <tr v-for="item in master[category]['詳細']">
                                <th>
                                    <span v-if="item['名前']">{{displayName(item['名前'])}}</span>
                                </th>
                                <td>
                                    {{displayFormula(item['数値'])}}
                                </td>
                            </tr>
                        </template>
                    </table>
                    <table v-if="'その他戦闘天賦' in master">
                        <tr v-for="item in master['その他戦闘天賦']">
                            <th>{{displayName(item['名前'])}}</th>
                            <td>{{displayName(item['説明'])}}</td>
                        </tr>
                    </table>
                    <table v-if="'固有天賦' in master">
                        <tr v-for="item in master['固有天賦']">
                            <th>{{displayName(item['名前'])}}</th>
                            <td>{{displayName(item['説明'])}}</td>
                        </tr>
                    </table>
                    <table v-if="'命ノ星座' in master">
                        <tr v-for="key in Object.keys(master['命ノ星座'])">
                            <th>{{key}}</th>
                            <td>{{displayName(master['命ノ星座'][key]['説明'])}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="pane6">
                <div id="input-select" style="margin-bottom: 15px;">
                    <label>
                        {{displayName('オプション条件')}}
                    </label>
                    <label>
                        {{displayName('ステータス')}}
                    </label>
                    <label>
                        {{displayName('バフ/デバフ')}}
                    </label>
                </div>

                <div id="condition-input" style="margin-bottom: 20px;">
                    <fieldset>
                        <legend>{{displayName('オプション条件')}}</legend>
                        <label v-for="item in inputList">
                            <input type="checkbox">
                            {{displayName(item)}}
                        </label>
                        <label v-for="item in selectList">
                            {{displayName(item)}}
                            <select>

                            </select>
                        </label>
                    </fieldset>
                </div>

                <div id="status-input" style="margin-bottom: 20px;">
                    <div class="tab-switch">
                        <input id="status-tab-1" type="radio" v-model="activeTab" value="1" name="status-tab">
                        <label for="status-tab-1" class="tab-switch">
                            {{displayName('ステータス1')}}
                        </label>
                        <input id="status-tab-2" type="radio" v-model="activeTab" value="2" name="status-tab">
                        <label for="status-tab-2" class="tab-switch">
                            {{displayName('ステータス2')}}
                        </label>
                        <input id="status-tab-3" type="radio" v-model="activeTab" value="3" name="status-tab">
                        <label for="status-tab-3" class="tab-switch">
                            {{displayName('敵')}}
                        </label>
                    </div>

                    <template v-if="activeTab === '1'">
                        <table class="status">
                            <template v-for="category in ['基本ステータス']">
                                <tr>
                                    <th :colspan="isEditable ? 3 : 2">
                                        {{displayName(category)}}
                                    </th>
                                </tr>
                                <tr v-for="stat in statList(category)">
                                    <th> {{displayName(stat)}} </th>
                                    <td v-show="isEditable">
                                        <input type="number" v-model="ステータス補正[stat]">
                                    </td>
                                    <td> {{displayNumber(stat, ステータス[stat])}} </td>
                                </tr>
                            </template>
                            <template v-for="category in ['高級ステータス', '元素ステータス・ダメージ', 'ダメージバフ', '実数ダメージ加算', '元素反応バフ']">
                                <tr>
                                    <th :colspan="isEditable ? 3 : 2">
                                        <label :for="category + '-opened'" class="open-close">
                                            <input :id="category + '-opened'" class="hidden" type="checkbox"
                                                v-model="isステータスOpened[category]">
                                            <span></span>
                                            {{displayName(category)}}
                                        </label>
                                    </th>
                                </tr>
                                <tr v-for="stat in statList(category)">
                                    <th> {{displayName(stat)}} </th>
                                    <td v-show="isEditable">
                                        <input type="number" v-model="ステータス補正[stat]">
                                    </td>
                                    <td> {{displayNumber(stat, ステータス[stat])}} </td>
                                </tr>
                            </template>
                            <tr>
                                <td :colspan="isEditable ? 3 : 2">
                                    <label>
                                        <input type="checkbox" v-model="isEditable">
                                        {{displayName('補正値入力モード')}}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td :colspan="isEditable ? 3 : 2">
                                    <label>
                                        <input type="checkbox" v-model="補正値0初期化Enabled">
                                        {{displayName('補正値0初期化')}}
                                    </label>
                                    <button type="button" style="width: 10rem" :disabled="!補正値0初期化Enabled"
                                        @click="resetStatusAdjustment(ステータス補正, ['高級ステータス', '元素ステータス・ダメージ', 'ダメージバフ', '実数ダメージ加算', '元素反応バフ'])">
                                        {{displayName('実行')}}</button>
                                </td>
                            </tr>
                        </table>
                    </template>
                    <template v-else-if="activeTab === '2'">
                        <table class="status">
                            <template v-for="category in ['元素ステータス・耐性', 'その他']">
                                <tr>
                                    <th :colspan="isEditable ? 3 : 2">
                                        <label class="open-close">
                                            <input class="hidden" type="checkbox" v-model="isステータスOpened[category]">
                                            <span></span>
                                            {{displayName(category)}}
                                        </label>
                                    </th>
                                </tr>
                                <tr v-for="stat in statList(category)">
                                    <th> {{displayName(stat)}} </th>
                                    <td v-show="isEditable">
                                        <input type="number" v-model="ステータス補正[stat]">
                                    </td>
                                    <td> {{displayNumber(stat, ステータス[stat])}} </td>
                                </tr>
                            </template>
                            <tr>
                                <td :colspan="isEditable ? 3 : 2">
                                    <label>
                                        <input type="checkbox" v-model="isEditable">
                                        {{displayName('補正値入力モード')}}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td :colspan="isEditable ? 3 : 2">
                                    <label>
                                        <input type="checkbox" v-model="補正値0初期化Enabled">
                                        {{displayName('補正値0初期化')}}
                                    </label>
                                    <button type="button" style="width: 10rem" :disabled="!補正値0初期化Enabled"
                                        @click="resetStatusAdjustment(ステータス補正, ['元素ステータス・耐性', 'その他'])">
                                        {{displayName('実行')}}</button>
                                </td>
                            </tr>
                        </table>
                    </template>
                    <template v-else-if="activeTab === '3'">
                        <div>
                            {{displayName('敵')}}
                            <select v-model="enemy">
                                <option v-for="item in enemyList" :value="item">{{displayName(item.name)}}</option>
                            </select>
                            &emsp;
                            {{displayName('Level')}}
                            <input v-model="敵ステータス['レベル']" type="number">
                        </div>
                        <table class="status">
                            <tr>
                                <th :colspan="isEditable ? 3 : 2">
                                    <label class="open-close">
                                        <input class="hidden" type="checkbox" v-model="is敵ステータスOpened">
                                        <span></span>
                                        {{displayName('元素耐性')}}
                                    </label>
                                </th>
                            </tr>
                            <tr v-for="stat in enemyStatList">
                                <th> {{displayName(stat)}} </th>
                                <td v-show="isEditable">
                                    <input type="number" v-model="敵ステータス補正[stat]">
                                </td>
                                <td> {{displayNumber(stat, 敵ステータス[stat])}} </td>
                            </tr>
                            <tr>
                                <th :colspan="isEditable ? 3 : 2">{{displayName('その他')}}</th>
                            </tr>
                            <tr>
                                <th> {{displayName('防御力')}} </th>
                                <td v-show="isEditable">
                                    <input type="number" v-model="敵ステータス補正['防御力']">
                                </td>
                                <td> {{displayNumber('防御力', 敵ステータス['防御力'])}} </td>
                            </tr>
                            <tr>
                                <td :colspan="isEditable ? 3 : 2">
                                    <label>
                                        <input type="checkbox" v-model="isEditable">
                                        {{displayName('補正値入力モード')}}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td :colspan="isEditable ? 3 : 2">
                                    <label>
                                        <input type="checkbox" v-model="補正値0初期化Enabled">
                                        {{displayName('補正値0初期化')}}
                                    </label>
                                    <button type="button" style="width: 10rem" :disabled="!補正値0初期化Enabled"
                                        @click="resetStatusAdjustment(敵ステータス補正)">
                                        {{displayName('実行')}}</button>
                                </td>
                            </tr>
                        </table>
                    </template>
                </div>

                <fieldset id="option-input">
                    <div class="tab-switch" style="margin-bottom: 15px;">
                        <input id="option-tab-1" type="radio" v-model="activeTab" value="1" name="option-input">
                        <label for="option-tab-1" class="tab-switch">
                            {{displayName('元素共鳴')}}
                        </label>
                        <input id="option-tab-2" type="radio" v-model="activeTab" value="2" name="option-input">
                        <label for="option-tab-2" class="tab-switch">
                            {{displayName('キャラ')}}
                        </label>
                        <input id="option-tab-3" type="radio" v-model="activeTab" value="3" name="option-input">
                        <label for="option-tab-3" class="tab-switch">
                            {{displayName('その他')}}
                        </label>
                    </div>

                    <div v-show="activeTab == '1'">
                        <template v-for="item in elementalResonanceList">
                            <label class="checkbox">
                                <input type="checkbox" v-model="元素共鳴[item]"
                                    @change="elementalResonanceOnChange(item, $event)">
                                {{displayName(name(item))}}
                            </label>
                        </template>

                        <table class="description">
                            <template v-for="index in [0,1]">
                                <tr>
                                    <th>{{elementalResonanceName(index)}}</th>
                                </tr>
                                <tr>
                                    <td>{{elementalResonanceDescription(index)}}</td>
                                </tr>
                            </template>
                        </table>
                    </div>

                    <div v-show="activeTab == '2'">
                        <template v-for="character in teamOptionCharacterList">
                            <fieldset class="team-option" :disabled="teamOptionCharacterDisabled(character)">
                                <legend>{{displayName(character)}}</legend>
                                <label v-for="item in teamOptionList(character)"
                                    :disabled="teamOptionDisabled(character, item)">
                                    {{displayName(item)}}
                                </label>
                            </fieldset>
                        </template>
                    </div>

                    <div v-show="activeTab == '3'">
                        <div>
                            <label v-for="item in option1List">
                                {{displayName(item)}}
                            </label>
                        </div>

                        <div>
                            <label v-for="item in option2List">
                                {{displayName(item)}}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="result-pane" id="calculation-result">
                <div class="elemental-reaction">
                    <input id="増幅反応-なし" type="radio" v-model="増幅反応" value="なし" name="増幅反応-name">
                    <label for="増幅反応-なし">
                        {{displayName('反応なし')}}
                    </label>
                    <input id="増幅反応-蒸発" type="radio" v-model="増幅反応" value="蒸発" name="増幅反応-name">
                    <label for="増幅反応-蒸発" v-if="元素反応.蒸発倍率" :class="classByElement(元素)">
                        {{displayName('蒸発')}} * {{Math.round(元素反応.蒸発倍率 * 100) / 100}}
                    </label>
                    <input id="増幅反応-溶解" type="radio" v-model="増幅反応" value="溶解" name="増幅反応-name">
                    <label for="増幅反応-溶解" v-if="元素反応.溶解倍率" :class="classByElement(元素)">
                        {{displayName('溶解')}} * {{Math.round(元素反応.溶解倍率 * 100) / 100}}
                    </label>
                    <span></span>
                    <label v-if="元素反応.過負荷ダメージ" class="pyro">
                        {{displayName('過負荷')}} {{Math.round(元素反応.過負荷ダメージ)}}
                    </label>
                    <label v-if="元素反応.感電ダメージ" class="electro">
                        {{displayName('感電')}} {{Math.round(元素反応.感電ダメージ)}}
                    </label>
                    <label v-if="元素反応.超電導ダメージ" class="cryo">
                        {{displayName('超電導')}} {{Math.round(元素反応.超電導ダメージ)}}
                    </label>
                    <label v-if="元素反応.拡散ダメージ" :class="classByElement(元素反応.拡散元素)">
                        {{displayName('拡散')}} {{Math.round(元素反応.拡散ダメージ)}}
                    </label>
                    <label v-if="元素反応.結晶吸収量" :class="classByElement(元素反応.結晶元素)">
                        {{displayName('結晶')}} {{Math.round(元素反応.結晶吸収量)}}
                    </label>
                    <label v-if="元素反応.燃焼ダメージ" class="pyro">
                        {{displayName('燃焼')}} {{Math.round(元素反応.燃焼ダメージ)}}
                    </label>
                    <label v-if="元素反応.開花ダメージ">
                        {{displayName('開花')}} {{Math.round(元素反応.開花ダメージ)}}
                    </label>
                    <label v-if="元素反応.激化ダメージ">
                        {{displayName('激化')}} {{Math.round(元素反応.激化ダメージ)}}
                    </label>
                </div>

                <table v-for="category in categoryList" class="result">
                    <thead>
                        <tr class="title" @click="is計算結果Opened[category] = !is計算結果Opened[category]">
                            <th>{{displayName(category)}}</th>
                            <th>{{displayName('期待値')}}</th>
                            <th>{{displayName('会心')}}</th>
                            <th>{{displayName('非会心')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in damageList(category)">
                            <th>{{displayName(item[0])}}</th>
                            <td :class="classByElement(item[1])">
                                {{item[2] ? ['炎', '水'].includes(item[1]) ? 増幅反応 == '蒸発' ? Math.round(item[2] *
                                元素反応.蒸発倍率) :
                                増幅反応 == '溶解' ? Math.round(item[2] * 元素反応.溶解倍率) : item[2] : item[2] : '-'}}
                            </td>
                            <td :class="classByElement(item[1])">
                                {{item[3] ? ['炎', '水'].includes(item[1]) ? 増幅反応 == '蒸発' ? Math.round(item[3] *
                                元素反応.蒸発倍率) :
                                増幅反応 == '溶解' ? Math.round(item[3] * 元素反応.溶解倍率) : item[3] : item[3] : '-'}}
                            </td>
                            <td :class="classByElement(item[1])">
                                {{item[4] ? ['炎', '水'].includes(item[1]) ? 増幅反応 == '蒸発' ? Math.round(item[4] *
                                元素反応.蒸発倍率) :
                                増幅反応 == '溶解' ? Math.round(item[4] * 元素反応.溶解倍率) : item[4] : item[4] : '-'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pane7">
            </div>

            <div class="bottom-pane">
                <div id="character-own-list">
                    <h2>
                        <label class="open-close">
                            <input class="hidden" type="checkbox" v-model="isVisible">
                            <span></span>
                            {{displayName('キャラクター所持リスト')}}
                        </label>
                    </h2>
                    <template v-if="isVisible">
                        <ul class="character-list">
                            <li v-for="item in list">
                                <img class="character with-tooltip" :src="iconUrl(item)" :alt="item.name"
                                    :style="'background-image: url(' + starBackgroundUrl(item) +')'"
                                    @click="onClick(item)">
                                <div class="tooltip">{{item.name}}</div>
                                <img class="vision" :src="elementImgSrc(item)" :alt="item.vision">
                                <p class="constellation">{{命ノ星座[item.name]}}</p>
                            </li>
                        </ul>
                        <button type="button" :disabled="!isChanged"
                            @click="saveOnClick">{{displayName('キャラクター所持状況を保存')}}</button>
                    </template>
                </div>

                <div id="weapon-own-list">
                    <h2>
                        <label class="open-close">
                            <input class="hidden" type="checkbox" v-model="isVisible">
                            <span></span>
                            {{displayName('武器所持リスト')}}
                        </label>
                    </h2>
                    <template v-if="isVisible">
                        <div class="filter">
                            <label v-for="item in filters.weapon.list">
                                <input class="hidden" type="radio" :value="item.name" name="filter-weapon-own-list"
                                    v-model="filters.weapon.selected">
                                <img :class="'filter' + (filters.weapon.selected == item.name ? ' selected' : '')"
                                    :src="item.url" :alt="item.name">
                            </label>
                        </div>
                        <ul class="weapon-list">
                            <li v-for="item in filteredList">
                                <img class="weapon with-tooltip" :src="iconUrl(item)" :alt="item.name"
                                    :style="'background-image: url(' + starBackgroundUrl(item) +')'"
                                    @click="onClick(item)">
                                <div class="tooltip">{{item.name}}</div>
                                <p class="refine">{{精錬ランク[item.name]}}</p>
                            </li>
                        </ul>
                        <button type="button" :disabled="!isChanged"
                            @click="saveOnClick">{{displayName('武器所持状況を保存')}}</button>
                    </template>
                </div>

                <div id="local-storage-control">

                </div>
            </div>

            <footer class="footer">
                <hr>
                <p>© 2021 asagume</p>
                <p>
                    本サイト内の画像はHoYoverse/COGNOSPHEREの著作物です。Copyright © COGNOSPHERE. All Rights Reserved.
                </p>
            </footer>
        </div>

        <div style="display: none;">
            <canvas id="artifactDetailCanvas"></canvas>
        </div>

        <div id="debugInfo"></div>
    </div>

    <script>
        console.log('screen.width', screen.width);
        console.log('window.innerWidth', window.innerWidth);
        console.log('window.devicePixelRatio', window.devicePixelRatio);

        // var characterSelectVue;
        // var characterInputVue;

        // function recommendOnChange(recommend) {
        //     weaponOnChange(recommend['武器']);
        // }

        // function weaponOnChange(name) {
        //     const master = characterInputVue.master;
        //     const weaponType = master['武器'];
        //     const url = 武器MasterVar[weaponType][name]['import'];
        //     fetch(url).then(resp => resp.json()).then(json => {
        //         characterInputVue.weaponMaster = json;

        //         characterInputVue.weaponAscension = 6;
        //         characterInputVue.weaponLevel = 90;
        //     });
        // }


        onLoad();

    </script>
</body>

</html>