<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLF3R2FB5T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BLF3R2FB5T');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>げんかるく - 原神ダメージシミュレーター</title>
    <meta name="description" content="原神@HoYoverseのダメージ計算を行うシミュレーターです。" />
    <meta name="keywords" content="原神,ダメージ,計算,武器,聖遺物" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="styles/normalize.css" rel="stylesheet" />
    <link href="styles/base-style.css" rel="stylesheet" />
    <link href="styles/new-styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"></script>
    <style type="text/css">
    </style>
</head>

<body>
    <div id="main">
        <div class="base-container">
            <div class="pane1">
                <fieldset style="margin: 1rem; min-height: 15rem; position: relative;">
                    <legend>げんかるく - 原神ダメージシミュレーター Ver.3.0.0</legend>
                    <p>
                        <a href="ArtifactSetList.html">聖遺物セット効果一覧</a>
                        <a href="BirthdayCalendar.html">誕生日カレンダー</a>
                    </p>
                    <p>
                        <a href="WeaponList.html?kind=Sword">片手剣一覧</a>
                        <a href="WeaponList.html?kind=Claymore">両手剣一覧</a>
                        <a href="WeaponList.html?kind=Polearm">長柄武器一覧</a>
                        <a href="WeaponList.html?kind=Bow">弓一覧</a>
                        <a href="WeaponList.html?kind=Catalyst">法器一覧</a>
                    </p>
                    <p>
                        <a href="RandomTeam.html">ランダムチーム編成メーカー</a>
                    </p>
                    <div style="position: absolute; right: 1rem; top: 0">
                        <a href="https://zawazawa.jp/gencalc/topic/1" target="_blank"
                            rel="noopener noreferrer">バグ報告・要望</a>
                    </div>
                    <div style="position: absolute; left: 1rem; top: 0">
                        <a href="history.html">更新履歴</a>
                    </div>
                    <div style="position: absolute; left: 1rem; bottom: 0;">
                        <a href="RotationVisualizer.html">げんろーて</a>
                    </div>
                </fieldset>
            </div>

            <div class="pane2">
                <div id="character-select" v-if="isVisible">
                    <div class="filter">
                        <label v-for="item in filters.characterVision.list">
                            <input type="radio" :value="item.name" name="filter-character-vision"
                                @click="filterOnClick(filters.characterVision, $event)">
                            <img :class="'filter' + (filters.characterVision.selected == item.name ? ' selected' : '')"
                                :src="item.url" :alt="item.name">
                        </label>
                    </div>

                    <div class="filter">
                        <label v-for="item in filters.characterWeapon.list">
                            <input type="radio" :value="item.name" name="filter-character-weapon"
                                @click="filterOnClick(filters.characterWeapon, $event)">
                            <img :class="'filter' + (filters.characterWeapon.selected == item.name ? ' selected' : '')"
                                :src="item.url" :alt="item.name">
                        </label>
                    </div>

                    <ul>
                        <li v-for="item in list"
                            v-if="(filters.characterVision.selected ? filters.characterVision.selected == item.vision : true) && (filters.characterWeapon.selected ? filters.characterWeapon.selected == item.weapon : true)"
                            :class="selected == item.name ? 'selected' : ''">
                            <img class="character" :src="item.iconUrl" :alt="item.name" @click="onClick"
                                :style="'background-image: url(' + item.starBgUrl +')'">
                            <img class="vision" :src="item.visionIconUrl" :alt="item.vision">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pane3">
                <div id="character-input">
                    <table>
                        <tr>
                            <td colspan="3" rowspan="3" style="width: 180px; position: relative;">
                                <img class="character" :src="characterMaster['icon_url']" :alt="name"
                                    :style="'background-image: url(' + STAR_BACKGROUND_URL[characterMaster['レアリティ']] +')'"
                                    @click="characterSelectVue.isVisible=true">
                                <img class="vision" :src="VISION_IMG_SRC[characterMaster['元素']]"
                                    :alt="characterMaster['元素']">
                            </td>
                            <td class="title" colspan="3" style="position: relative;">
                                {{characterMaster['名前']}}
                                <span class="material-symbols-outlined" style="position: absolute; right: 0;"> info
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" @click="saveOnClick">
                                    Save<br>
                                    <span class="material-symbols-outlined"> save </span>
                                </button>
                            </td>
                            <td>
                                &emsp;
                            </td>
                            <td>
                                <button type="button" @click="removeOnClick">
                                    Remove<br>
                                    <span class="material-symbols-outlined"> delete </span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding-left: 1rem; padding-right: 1rem;">
                                <input type="text" v-model="saveName">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="ascension" @change="ascensionOnChange">
                                    <option v-for="item in ascensionOption.list" :value="item"> A{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="level">
                                    <option v-for="item in levelOption.list" :value="item"> Lv.{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="constellation">
                                    <option v-for="(item, index) in constellationOption.list"
                                        v-if="index <= constellationOption.max" :value="item"> C{{item}} </option>
                                </select>
                            </td>
                            <td colspan="3">
                                <label class="button">
                                    <input type="checkbox" v-model="recommendOption.isOpen">
                                    &emsp; おすすめセット &emsp;
                                </label>
                            </td>
                        </tr>
                        <tr v-if="recommendOption.isOpen">
                            <td colspan="6">
                                <select :value="recommend"></select>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td colspan="3" rowspan="3" style="width: 180px;">
                                <img class="weapon" :src="weaponMaster['icon_url']" :alt="weaponMaster['名前']"
                                    :style="'background-image: url(' + STAR_BACKGROUND_URL[weaponMaster['レアリティ']] +')'">
                            </td>
                            <td>
                                <img :class="'talent ' + BG_COLOR_CLASS[characterMaster['元素']]"
                                    :src="characterMaster['通常攻撃']['icon_url']" :alt="characterMaster['通常攻撃']['名前']">
                            </td>
                            <td>
                                <img :class="'talent ' + BG_COLOR_CLASS[characterMaster['元素']]"
                                    :src="characterMaster['元素スキル']['icon_url']" :alt="characterMaster['元素スキル']['名前']">
                            </td>
                            <td>
                                <img :class="'talent ' + BG_COLOR_CLASS[characterMaster['元素']]"
                                    :src="characterMaster['元素爆発']['icon_url']" :alt="characterMaster['元素爆発']['名前']">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="normalAttackLevel">
                                    <option v-for="item in normalAttackLevelOption.list" :value="item"> Lv.{{item}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="elementalSkillLevel">
                                    <option v-for="item in elementalSkillLevelOption.list"
                                        v-if="item <= elementalSkillLevelOption.max" :value="item"> Lv.{{item}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="elementalBurstLevel">
                                    <option v-for="item in elementalBurstLevelOption.list"
                                        v-if="item <= elementalBurstLevelOption.max" :value="item"> Lv.{{item}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <label>
                                    <input type="radio" value="artifact-set1" name="artifact-input">
                                    <img class="artifact-set" :src="artifactSet1Master['icon_url']">
                                </label>
                            </td>
                            <td rowspan="2">
                                <input type="radio" value="artifact-set2" name="artifact-input">
                                <img class="artifact-set" :src="artifactSet2Master['icon_url']">
                            </td>
                            <td rowspan="2">
                                <input type="radio" value="artifact-stat" name="artifact-input">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option v-for="item in weaponAscensionOption.list" :value="item"> A{{item}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option v-for="item in weaponLevelOption.list" :value="item"> Lv.{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option v-for="item in weaponRefineOption.list" :value="item"> R{{item}} </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="pane4">
            </div>

            <div class="pane6">
            </div>

            <div class="result-pane">
            </div>

            <div class="pane7">
            </div>

            <div class="bottom-pane">
            </div>

            <footer class="footer">
                <hr>
                <p>© 2021 asagume</p>
                <p>
                    本サイト内の画像はHoYoverse/COGNOSPHEREの著作物です。Copyright © COGNOSPHERE. All Rights Reserved.
                </p>
            </footer>
        </div>

        <div style="display: none;">
            <select id="キャラクターInput"></select>
            <select id="武器Input"></select>
            <select id="聖遺物セット効果1Input" name="聖遺物セット効果Input"></select>
            <select id="聖遺物セット効果2Input" name="聖遺物セット効果Input"></select>

            <canvas id="artifactDetailCanvas"></canvas>
        </div>

        <div id="debugInfo"></div>
    </div>

    <script>
        console.log('screen.width', screen.width);
        console.log('window.innerWidth', window.innerWidth);
        console.log('window.devicePixelRatio', window.devicePixelRatio);

        const VISION_IMG_SRC = {
            炎: 'images/element_pyro.png',
            水: 'images/element_hydro.png',
            風: 'images/element_anemo.png',
            雷: 'images/element_electro.png',
            // 草: 'images/element_dendro.png',
            氷: 'images/element_cryo.png',
            岩: 'images/element_geo.png'
        };

        const COLOR_CLASS = {
            炎: 'pyro',
            水: 'hydro',
            風: 'anemo',
            雷: 'electro',
            草: 'dendro',
            氷: 'cryo',
            岩: 'geo'
        };

        const BG_COLOR_CLASS = {
            炎: 'pyro-bg',
            水: 'hydro-bg',
            風: 'anemo-bg',
            雷: 'electro-bg',
            草: 'dendro-bg',
            氷: 'cryo-bg',
            岩: 'geo-bg'
        };

        const WEAPON_IMG_SRC = {
            片手剣: 'images/characters/NormalAttack_sword.png',
            両手剣: 'images/characters/NormalAttack_claymore.png',
            長柄武器: 'images/characters/NormalAttack_polearm.png',
            弓: 'images/characters/NormalAttack_bow.png',
            法器: 'images/characters/NormalAttack_catalyst.png',
        };

        const STAR_BACKGROUND_URL = {
            1: 'images/star1-bg.png',
            2: 'images/star2-bg.png',
            3: 'images/star3-bg.png',
            4: 'images/star4-bg.png',
            5: 'images/star5-bg.png'
        };

        const IMG_DUMMY_SRC = "data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7";

        var characterSelectVue;
        var characterInputVue;

        var キャラクター所持状況Var = {};
        if (localStorage['キャラクター所持状況']) {
            キャラクター所持状況Var = JSON.parse(localStorage['キャラクター所持状況']);
        }

        function setupCharacterSelect() {
            const filterCharacterVisions = Object.keys(VISION_IMG_SRC).map(function (key) {
                return { name: key, url: VISION_IMG_SRC[key] }
            });
            const filterCharacterWeapons = Object.keys(WEAPON_IMG_SRC).map(function (key) {
                return { name: key, url: WEAPON_IMG_SRC[key] }
            });
            const characterSelectList = Object.keys(キャラクターMasterVar).map(function (key) {
                const importUrl = キャラクターMasterVar[key]['import'];
                let iconUrl = 'images/characters/face/' + importUrl.split('/')[importUrl.split('/').length - 1].replace('json', 'png')
                return {
                    name: key,
                    rarity: キャラクターMasterVar[key]['レアリティ'],
                    vision: キャラクターMasterVar[key]['元素'],
                    weapon: キャラクターMasterVar[key]['武器'],
                    iconUrl: iconUrl,
                    visionIconUrl: VISION_IMG_SRC[キャラクターMasterVar[key]['元素']],
                    starBgUrl: STAR_BACKGROUND_URL[キャラクターMasterVar[key]['レアリティ']]
                }
            });

            characterSelectVue = new Vue({
                el: '#character-select',
                data: {
                    isVisible: true,
                    selected: null,
                    list: characterSelectList,
                    filters: {
                        characterVision: {
                            selected: null,
                            list: filterCharacterVisions
                        },
                        characterWeapon: {
                            selected: null,
                            list: filterCharacterWeapons
                        }
                    }
                },
                methods: {
                    onClick: function (event) {
                        if (event.target.alt != this.selected) {
                            this.selected = event.target.alt;
                            characterOnChange(this.selected)
                        }
                        this.isVisible = false;
                    },
                    filterOnClick: function (filterObj, event) {
                        if (event.target.value != filterObj.selected) {
                            filterObj.selected = event.target.value
                        } else {
                            filterObj.selected = null;
                            event.target.checked = false;
                        }
                    }
                }
            });
        }

        function characterOnChange(name) {
            characterInputVue.name = name;

            fetch(キャラクターMasterVar[name]['import']).then(resp => resp.json()).then(json => {
                characterInputVue.characterMaster = json;

                characterInputVue.ascension = 6;
                characterInputVue.level = 90;
                if (name in キャラクター所持状況Var) {
                    characterInputVue.constellation = キャラクター所持状況Var[name];
                } else {
                    characterInputVue.constellation = 0;
                }

                recommendOnChange(characterInputVue.characterMaster['おすすめセット'][0]);
            });
        }

        function recommendOnChange(recommend) {
            weaponOnChange(recommend['武器']);
        }

        function weaponOnChange(name) {
            const characterMaster = characterInputVue.characterMaster;
            const weaponType = characterMaster['武器'];
            const url = 武器MasterVar[weaponType][name]['import'];
            fetch(url).then(resp => resp.json()).then(json => {
                characterInputVue.weaponMaster = json;

                characterInputVue.weaponAscension = 6;
                characterInputVue.weaponLevel = 90;
            });
        }

        function setupCharacterInput() {
            characterInputVue = new Vue({
                el: '#character-input',
                data: {
                    name: null,
                    characterMaster: {
                        名前: null,
                        レアリティ: 5,
                        元素: '炎',
                        icon_url: IMG_DUMMY_SRC,
                        通常攻撃: {
                            名前: null,
                            icon_url: IMG_DUMMY_SRC
                        },
                        元素スキル: {
                            名前: null,
                            icon_url: IMG_DUMMY_SRC
                        },
                        元素爆発: {
                            名前: null,
                            icon_url: IMG_DUMMY_SRC
                        }
                    },
                    weaponMaster: {
                        名前: null,
                        レアリティ: 5,
                        icon_url: IMG_DUMMY_SRC
                    },
                    artifactSet1Master: {
                        名前: null,
                        icon_url: IMG_DUMMY_SRC
                    },
                    artifactSet2Master: {
                        名前: null,
                        icon_url: IMG_DUMMY_SRC
                    },
                    ascension: 6,
                    level: 90,
                    constellation: 0,
                    normalAttackLevel: 8,
                    elementalSkillLevel: 8,
                    elementalBurstLevel: 8,
                    weaponAscension: 6,
                    weaponLevel: 6,
                    weaponRefine: 1,
                    ascensionOption: {
                        list: [1, 2, 3, 4, 5, 6]
                    },
                    levelOption: {
                        list: [80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
                    },
                    constellationOption: {
                        list: [0, 1, 2, 3, 4, 5, 6],
                        max: 6
                    },
                    normalAttackLevelOption: {
                        list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    },
                    elementalSkillLevelOption: {
                        list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                        max: 13
                    },
                    elementalBurstLevelOption: {
                        list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                        max: 13
                    },
                    weapon: null,
                    weaponOption: {
                        list: []
                    },
                    weaponAscensionOption: {
                        list: [1, 2, 3, 4, 5, 6]
                    },
                    weaponLevelOption: {
                        list: [80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
                    },
                    weaponRefineOption: {
                        list: [1, 2, 3, 4, 5]
                    },
                    artifactSet1: null,
                    artifactSet2: null,
                    artifactSetOption: {
                        list: []
                    },
                    recommend: null,
                    recommendOption: {
                        isOpen: false,
                        list: []
                    },
                    saveName: null
                },
                methods: {
                    ascensionOnChange: function () {
                        switch (event.target.value) {
                            case '1':
                                this.levelOption.list.splice(0, this.levelOption.list.length, ...Array.from({ length: 20 }, (_, i) => i + 1))
                                break;
                            case '2':
                                this.levelOption.list.splice(0, this.levelOption.list.length, ...Array.from({ length: 21 }, (_, i) => i + 20))
                                break;
                            default:
                                this.levelOption.list.splice(0, this.levelOption.list.length, ...Array.from({ length: 11 }, (_, i) => i + 20 + 10 * event.target.value))
                                break;
                        }
                        const min = this.levelOption.list[0];
                        const max = this.levelOption.list[this.levelOption.list.length - 1];
                        if (this.level < min) {
                            this.level = min;
                        } else if (this.level > max) {
                            this.level = max;
                        }
                    },
                    saveOnClick: function () {

                    },
                    removeOnClick: function () {

                    }
                }
            });
        }

        var キャラクターMasterVar;
        var 武器MasterVar;
        var 聖遺物セットMasterVar;



        async function onLoad() {
            const responses = await Promise.all([
                'data/CharacterMaster.json',
                'data/SwordMaster.json',
                'data/ClaymoreMaster.json',
                'data/PolearmMaster.json',
                'data/BowMaster.json',
                'data/CatalystMaster.json',
                'data/ArtifactSetMaster.json',
                'data/ArtifactMainMaster.json',
                'data/ArtifactSubMaster.json'
            ].map(s => fetch(s).then(resp => resp.json())));

            キャラクターMasterVar = responses[0];
            武器MasterVar = {
                片手剣: responses[1],
                両手剣: responses[2],
                長柄武器: responses[3],
                弓: responses[4],
                法器: responses[5]
            };

            setupCharacterSelect();
            setupCharacterInput();

        }

        onLoad();

    </script>
</body>

</html>