<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLF3R2FB5T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BLF3R2FB5T');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>げんかるく - 原神ダメージシミュレーター</title>
    <meta name="description" content="原神@HoYoverseのダメージ計算を行うシミュレーターです。" />
    <meta name="keywords" content="原神,ダメージ,計算,武器,聖遺物" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="styles/normalize.css" rel="stylesheet" />
    <link href="styles/base-style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"></script>
    <style type="text/css">
        /* body {
            font-family: 'Yusei Magic', sans-serif;
        } */
        tr {
            border: 1px solid;
        }

        td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <div id="main">
        <div class="base-container">
            <div class="pane1">
                <fieldset style="margin: 1rem; min-height: 15rem; position: relative;">
                    <legend>げんかるく - 原神ダメージシミュレーター Ver.3.0.0</legend>
                    <p>
                        <a href="ArtifactSetList.html">聖遺物セット効果一覧</a>
                        <a href="BirthdayCalendar.html">誕生日カレンダー</a>
                    </p>
                    <p>
                        <a href="WeaponList.html?kind=Sword">片手剣一覧</a>
                        <a href="WeaponList.html?kind=Claymore">両手剣一覧</a>
                        <a href="WeaponList.html?kind=Polearm">長柄武器一覧</a>
                        <a href="WeaponList.html?kind=Bow">弓一覧</a>
                        <a href="WeaponList.html?kind=Catalyst">法器一覧</a>
                    </p>
                    <p>
                        <a href="RandomTeam.html">ランダムチーム編成メーカー</a>
                    </p>
                    <div style="position: absolute; right: 1rem; top: 0">
                        <a href="https://zawazawa.jp/gencalc/topic/1" target="_blank"
                            rel="noopener noreferrer">バグ報告・要望</a>
                    </div>
                    <div style="position: absolute; left: 1rem; top: 0">
                        <a href="history.html">更新履歴</a>
                    </div>
                    <div style="position: absolute; left: 1rem; bottom: 0;">
                        <a href="RotationVisualizer.html">げんろーて</a>
                    </div>
                </fieldset>
            </div>

            <div class="pane2">
                <div id="character-select" v-if="isVisible">
                    <div>
                        <label v-for="item in filters.characterVision.list"
                            :class="filters.characterVision.selected == item.name ? 'selected' : ''">
                            <input type="radio" :value="item.name" name="filter-character-vision"
                                @click="filterOnClick(filters.characterVision, $event)">
                            <img class="filter-vision" :src="item.url" :alt="item.name">
                        </label>
                    </div>

                    <div>
                        <label v-for="item in filters.characterWeapon.list"
                            :class="filters.characterWeapon.selected == item.name ? 'selected' : ''">
                            <input type="radio" :value="item.name" name="filter-character-weapon"
                                @click="filterOnClick(filters.characterWeapon, $event)">
                            <img class="filter-weapon" :src="item.url" :alt="item.name">
                        </label>
                    </div>

                    <ul>
                        <li v-for="item in list"
                            v-if="(filters.characterVision.selected ? filters.characterVision.selected == item.vision : true) && (filters.characterWeapon.selected ? filters.characterWeapon.selected == item.weapon : true)"
                            :class="selected == item.name ? 'selected' : ''">
                            <img class="character" :src="item.iconUrl" :alt="item.name" @click="onClick">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pane3">
                <div id="character-input">
                    <table>
                        <tr>
                            <td colspan="2" rowspan="3">
                                <img class="character" :src="iconUrl" :alt="name"
                                    @click="characterSelectVue.isVisible=true">
                            </td>
                            <td rowspan="5"></td>
                            <td colspan="2"> {{name}} &emsp;
                                <span class="material-symbols-outlined"> info </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button @click="saveOnClick">
                                    <span class="material-symbols-outlined"> save </span>
                                </button>
                            </td>
                            <td>
                                <button @click="removeOnClick">
                                    <span class="material-symbols-outlined"> delete </span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select v-model="ascension" @change="ascensionOnChange">
                                    <option v-for="item in ascensionOption.list" :value="item"> A{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="level">
                                    <option v-for="item in levelOption.list" :value="item"> Lv.{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select v-model="constellation">
                                    <option v-for="(item, index) in constellationOption.list"
                                        v-if="index <= constellationOption.max" :value="item"> C{{item}} </option>
                                </select>
                            </td>
                            <td>
                                <select>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <select v-model="recommend">
                    <option v-for="item in recommendOption.list" value="item"> {{item}} </option>
                </select>

            </div>

            <div class="pane4">
            </div>

            <div class="pane6">
            </div>

            <div class="result-pane">
            </div>

            <div class="pane7">
            </div>

            <div class="bottom-pane">
            </div>

            <footer class="footer">
                <hr>
                <p>© 2021 asagume</p>
                <p>
                    本サイト内の画像はHoYoverse/COGNOSPHEREの著作物です。Copyright © COGNOSPHERE. All Rights Reserved.
                </p>
            </footer>
        </div>

        <div style="display: none;">
            <select id="キャラクターInput"></select>
            <select id="武器Input"></select>
            <select id="聖遺物セット効果1Input" name="聖遺物セット効果Input"></select>
            <select id="聖遺物セット効果2Input" name="聖遺物セット効果Input"></select>

            <canvas id="artifactDetailCanvas"></canvas>
        </div>

        <div id="debugInfo"></div>
    </div>

    <script>
        console.log('screen.width', screen.width);
        console.log('window.innerWidth', window.innerWidth);
        console.log('window.devicePixelRatio', window.devicePixelRatio);

        const VISION_IMG_SRC = {
            炎: 'images/element_pyro.png',
            水: 'images/element_hydro.png',
            風: 'images/element_anemo.png',
            雷: 'images/element_electro.png',
            // 草: 'images/element_dendro.png',
            氷: 'images/element_cryo.png',
            岩: 'images/element_geo.png'
        };

        const WEAPON_IMG_SRC = {
            片手剣: 'images/characters/NormalAttack_sword.png',
            両手剣: 'images/characters/NormalAttack_claymore.png',
            長柄武器: 'images/characters/NormalAttack_polearm.png',
            弓: 'images/characters/NormalAttack_bow.png',
            法器: 'images/characters/NormalAttack_catalyst.png',
        };

        async function onLoad() {
            const responses = await Promise.all([
                'data/CharacterMaster.json'
            ].map(s => fetch(s).then(resp => resp.json())));

            キャラクターMaster = responses[0];

            var filterCharacterVisions = Object.keys(VISION_IMG_SRC).map(function (key) { return { name: key, url: VISION_IMG_SRC[key] } });
            var filterCharacterWeapons = Object.keys(WEAPON_IMG_SRC).map(function (key) { return { name: key, url: WEAPON_IMG_SRC[key] } });

            var characterSelectList = Object.keys(キャラクターMaster).map(function (key) {
                const importUrl = キャラクターMaster[key]['import'];
                let iconUrl = 'images/characters/face/' + importUrl.split('/')[importUrl.split('/').length - 1].replace('json', 'png')
                return {
                    name: key,
                    rarity: キャラクターMaster[key]['レアリティ'],
                    vision: キャラクターMaster[key]['元素'],
                    weapon: キャラクターMaster[key]['武器'],
                    iconUrl: iconUrl
                }
            });
            console.log(characterSelectList);


            var characterSelectVue = new Vue({
                el: '#character-select',
                data: {
                    isVisible: true,
                    selected: null,
                    list: characterSelectList,
                    filters: {
                        characterVision: {
                            selected: null,
                            list: filterCharacterVisions
                        },
                        characterWeapon: {
                            selected: null,
                            list: filterCharacterWeapons
                        }
                    }
                },
                methods: {
                    onClick: function (event) {
                        if (event.target.alt != this.selected) {
                            this.selected = event.target.alt;
                        }
                        this.isVisible = false;
                    },
                    filterOnClick: function (filterObj, event) {
                        if (event.target.value != filterObj.selected) {
                            filterObj.selected = event.target.value
                        } else {
                            filterObj.selected = null;
                            event.target.checked = false;
                        }
                    }
                }
            });

            var characterVue = new Vue({
                el: '#character-input',
                data: {
                    name: null,
                    ascension: 6,
                    level: 90,
                    constellation: 0,
                    normalAttackLevel: 8,
                    elementalSkillLevel: 8,
                    elementalBurstLevel: 8,
                    ascensionOption: {
                        list: [1, 2, 3, 4, 5, 6]
                    },
                    levelOption: {
                        list: [1, 20, 40, 50, 60, 70, 80, 90]
                    },
                    constellationOption: {
                        list: [0, 1, 2, 3, 4, 5, 6],
                        max: 6
                    },
                    normalAttackLevelOption: {
                        list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    },
                    elementalSkillLevelOption: {
                        list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                        max: 13
                    },
                    elementalBurstLevelOption: {
                        list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                        max: 13
                    },
                    rarity: null,
                    vision: null,
                    iconUrl: null,
                    visionUrl: null,
                    weapon: null,
                    weaponOption: {
                        list: []
                    },
                    artifactSet1: null,
                    artifactSet2: null,
                    artifactSetOption: {
                        list: []
                    },
                    recommend: null,
                    recommendOption: {
                        list: []
                    },
                    saveName: null
                },
                methods: {
                    ascensionOnChange: function () {
                        switch (event.target.value) {
                            case '1':
                                this.levelOption.list.splice(0, this.levelOption.list.length, ...Array.from({ length: 20 }, (_, i) => i + 1))
                                break;
                            case '2':
                                this.levelOption.list.splice(0, this.levelOption.list.length, ...Array.from({ length: 21 }, (_, i) => i + 20))
                                break;
                            default:
                                this.levelOption.list.splice(0, this.levelOption.list.length, ...Array.from({ length: 11 }, (_, i) => i + 20 + 10 * event.target.value))
                                break;
                        }
                        const min = this.levelOption.list[0];
                        const max = this.levelOption.list[this.levelOption.list.length - 1];
                        if (this.level < min) {
                            this.level = min;
                        } else if (this.level > max) {
                            this.level = max;
                        }
                    },
                    saveOnClick: function () {

                    },
                    removeOnClick: function () {

                    }
                }
            });

        }

        onLoad();

    </script>
</body>

</html>