<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>げんろーて - Genshin Impact Rotation Visualizer</title>
    <link href="styles/base-style.css" rel="stylesheet" />
    <link href="styles/RotationVisualizer.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/RotationVisualiser.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="main">
        <fieldset style="margin: 1rem; position: relative;">
            <legend>げんろーて - Genshin Impact Rotation Visualizer</legend>
            <p style="text-align: left;"><a href="/gencalc/">げんかるく</a> </p>
        </fieldset>

        <h2>NEW ROTATION</h2>
        <div class="rotation-data" id="data_">
            <div>
                <input ref="name" v-model="name" class="name" type="text" name="name" size="40" minlength="1"
                    maxlength="40" placeholder="INPUT YOUR ROTATION NAME">
                <button type="button" @click="saveButtonOnClick">SAVE</button>
            </div>
            <textarea ref="rotation" :value="rotation" @input="rotationOnInput" class="rotation" name="rotation"
                cols="60" rows="8" placeholder="INPUT YOUR ROTATION"></textarea>
            <textarea ref="description" v-model="description" class="description" name="description" cols="60" rows="8"
                placeholder="INPUT DESCRIPTION"></textarea>
            <div class="characters" :style="'width: ' + rotation4v.width + 'px;'">
                <template v-for="character in rotation4v.list">
                    <div class="character">
                        <img class="character" :src="character.imgSrc" :alt="character.name"
                            :style="'background-image: url(' + character.starBgUrl +');'">
                        <div class="actions" :style="'border-color: ' + character.elementColor + ';'">
                            <template v-for="action in character.actions">
                                <div v-if="action.comment !== null" class="action" :style="'left: ' + action.x + 'px;'">
                                    <template v-for="icon in action.icons">
                                        <img v-if="icon.imgSrc" class="icon" :src="icon.imgSrc" :alt="icon.name"
                                            :style="'background-color: ' + character.elementColor + '; left: ' + icon.x + 'px; z-index: '+ icon.z + ';'">
                                        <div v-else class="noicon" :style="'left: ' + icon.x + 'px; z-index: '+ icon.z + ';'">
                                            <p class="noicon"> {{icon.name}} </p>
                                        </div>
                                    </template>
                                    <p class="name"> {{action.name}} </p>
                                </div>
                                <div v-else class="comment" :style="'left: ' + action.x + 'px;'">
                                    <p> {{action.comment}} </p>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <h2>YOUR ROTATIONS</h2>
        <ol class="your-data-area" id="saveDataArea">
            <template v-for="(item, index) in list">
                <li class="data">
                    <template v-if="item.isEditable">
                        <button @click="item.isCompact = !item.isCompact">Compact</button>
                        <div>
                            <input ref="name" v-model="item.name" :key="index" class="name" type="text" name="name"
                                size="40" minlength="1" maxlength="40" placeholder="INPUT YOUR ROTATION NAME">
                            <button type="button" @click="saveButtonOnClick">SAVE</button>
                        </div>
                        <textarea ref="rotation" :value="item.rotation" :key="index" @input="rotationOnInput"
                            class="rotation" name="rotation" cols="60" rows="8"
                            placeholder="INPUT YOUR ROTATION"></textarea>
                        <textarea ref="description" v-model="item.description" :key="index" class="description"
                            name="description" cols="60" rows="8" placeholder="INPUT DESCRIPTION"></textarea>
                    </template>
                    <template v-else>
                        {{item.name}} <br>
                        <template v-if="item.isCompact">
                            <button type="button">↓</button>
                            <div>
                                <template v-for="character in item.rotation4v.list">
                                    <img :src="character.imgSrc" :alt="character.name"
                                        :style="'background-image: url(' + character.starBgUrl +');'">
                                </template>
                            </div>
                            <div class="description"> {{item.description}} </div>
                        </template>
                        <template v-else>
                            <button type="button">↑</button>
                            <div class="characters" :style="'width: ' + item.rotation4v.width + 'px;'">
                                <template v-for="character in item.rotation4v.list">
                                    <div class="character">
                                        <img class="character" :src="character.imgSrc" :alt="character.name"
                                            :style="'background-image: url(' + character.starBgUrl +');'">
                                        <div class="actions" :style="'border-color: ' + character.elementColor + ';'">
                                            <template v-for="action in character.actions">
                                                <div v-if="action.comment !== null" class="action"
                                                    :style="'left: ' + action.x + 'px;'">
                                                    <template v-for="icon in action.icons">
                                                        <img v-if="icon.imgSrc" class="icon" :src="icon.imgSrc"
                                                            :alt="icon.name"
                                                            :style="'background-color: ' + character.elementColor + '; left: ' + icon.x + 'px;'">
                                                        <div v-else class="noicon" :style="'left: ' + icon.x + 'px;'">
                                                            <p class="noicon"> {{icon.name}} </p>
                                                        </div>
                                                    </template>
                                                    <p class="name"> {{action.name}} </p>
                                                </div>
                                                <div v-else class="comment" :style="'left: ' + action.x + 'px;'">
                                                    <p> {{action.comment}} </p>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div class="description"> {{item.description}} </div>
                        </template>
                    </template>
                </li>
            </template>
        </ol>

        <h2>SAMPLE ROTATIONS</h2>
        <ol class="sample-data-area" id="sampleDataArea">
            <template v-for="(item, index) in list">
                <li class="data">
                    {{item.name}} <br>
                    <template v-if="item.isCompact">
                        <button type="button">↓</button>
                        <div>
                            <template v-for="character in item.rotation4v.list">
                                <img :src="character.imgSrc" :alt="character.name"
                                    :style="'background-image: url(' + character.starBgUrl +');'">
                            </template>
                        </div>
                        <div class="description"> {{item.description}} </div>
                    </template>
                    <template v-else>
                        <button type="button">↑</button>
                        <div class="characters" :style="'width: ' + item.rotation4v.width + 'px;'">
                            <template v-for="character in item.rotation4v.list">
                                <div class="character">
                                    <img class="character" :src="character.imgSrc" :alt="character.name"
                                        :style="'background-image: url(' + character.starBgUrl +');'">
                                    <div class="actions" :style="'border-color: ' + character.elementColor + ';'">
                                        <template v-for="action in character.actions">
                                            <div v-if="action.comment !== null" class="action"
                                                :style="'left: ' + action.x + 'px;'">
                                                <template v-for="icon in action.icons">
                                                    <img v-if="icon.imgSrc" class="icon" :src="icon.imgSrc"
                                                        :alt="icon.name"
                                                        :style="'background-color: ' + character.elementColor + '; left: ' + icon.x + 'px; width: ' + icon.width + 'px; z-index: ' + icon.z + ';'">
                                                    <div v-else class="noicon" :style="'left: ' + icon.x + 'px; width: ' + icon.width + 'px; z-index: ' + icon.z + ';'">
                                                        <p class="noicon"> {{icon.name}} </p>
                                                    </div>
                                                </template>
                                                <p class="name"> {{action.name}} </p>
                                            </div>
                                            <div v-else class="comment" :style="'left: ' + action.x + 'px;'">
                                                <p> {{action.comment}} </p>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <div class="description"> {{item.description}} </div>
                    </template>
                </li>
            </template>
        </ol>
    </div>

    <script>
        window.onload = () => {
            init();
        };
    </script>
</body>

</html>