/* 3 Columns */
@media all and (min-width: 1251px) {
    #main {
        max-width: 1536px;
    }

    .base-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 32px 125px 150px auto minmax(400px, auto) auto;
        grid-template-areas:
            "header header header"
            "pane2 pane2 pane2"
            "pane3 pane5 result-pane"
            "pane4 pane5 result-pane"
            "pane6 bottom-pane bottom-pane"
            "footer footer footer";
    }

    #status-area {
        display: initial;
    }

    #condition-area {
        display: initial;
    }
}

/* 2 Columns */
@media all and (min-width: 769px) and (max-width: 1250px) {
    .base-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 125px 150px auto auto minmax(400px, auto) auto;
        grid-template-areas:
            "header header"
            "pane2 pane2"
            "pane3 pane1"
            "pane4 result-pane"
            "pane5 result-pane"
            "pane6 bottom-pane"
            "footer footer";
    }

    #status-area {
        display: none;
    }

    #condition-area {
        display: none;
    }
}

/* 1 Column */
@media all and (max-width: 768px) {
    #main {
        min-width: 360px;
    }

    .base-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4rem auto auto auto auto auto auto minmax(400px, auto) auto auto;
        grid-template-areas:
            "header"
            "pane1"
            "pane2"
            "pane3"
            "pane4"
            "pane5"
            "result-pane"
            "pane6"
            "bottom-pane"
            "footer";
    }

    #status-area {
        display: none;
    }

    #condition-area {
        display: none;
    }
}

#main {
    color: blanchedalmond;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

.pyro-bg {
    background-color: darkred;
}

.hydro-bg {
    background-color: darkcyan;
}

.aero-bg {
    background-color: darkgreen;
}

.electro-bg {
    background-color: darkviolet;
}

.cryo-bg {
    background-color: darkturquoise;
}

.geo-bg {
    background-color: darkgoldenrod;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: black;
    background-size: contain;
}

img {
    vertical-align: top;
}

.horizontal-list ul {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.horizontal-list ul li {
    position: relative;
    display: inline-block;
    margin: 0;
}

.horizontal-list ul li img {
    vertical-align: top;
    border-style: double;
    border-width: 0.2rem;
}

.horizontal-list ul li img.element {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    border: none;
}

.pane3 {
    width: auto;
}

.pane3 table {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    border: none;
    vertical-align: bottom;
}

.pane3 table tr {
    height: 25px;
}

.pane3 select {
    width: 95%;
    margin: 0 auto;
}

.image-button {
    width: 100%;
    margin: 0;
    padding: 0;
}

td {
    color: blanchedalmond;
}

#character-name {
    font-size: 2.6rem;
}

td select {
    width: 100%;
    text-align: center;
}

td button {
    width: 14rem;
    text-align: center;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px;
}

td button.wide {
    width: 100%;
}

td input {
    width: 100%;
    text-align: center;
}

button {
    font-size: 2rem;
    color: blanchedalmond;
}

section {
    vertical-align: baseline;
}

article {
    display: inline-block;
    vertical-align: bottom;
}

article select {
    width: 100%;
    text-align: center;
}

