@media all and (min-width: 1536px) {
    html {
        font-size: 7.1px;
    }

    body {
        font-size: 7.1px;
    }

    .main {
        max-width: 1536px;
    }
}

@media all and (min-width: 1152px) and (max-width: 1535px) {
    html {
        font-size: calc(100vw / 72 / 3);
    }

    body {
        font-size: calc(100vw / 72 / 3);
    }
}

@media all and (min-width: 720px) and (max-width: 1151px) {
    html {
        font-size: calc(100vw / 72 / 2);
    }

    body {
        font-size: calc(100vw / 72 / 2);
    }
}

@media all and (max-width: 719px) {
    html {
        font-size: calc(100vw / 72);
    }

    body {
        font-size: calc(100vw / 72);
    }

    .main {
        min-width: 342px;
    }
}

body {
    width: 100%;
    color: blanchedalmond;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    font-size: 2.3rem;
    font-family: "Helvetica Neue",
        "Helvetica",
        "Hiragino Sans",
        "Hiragino Kaku Gothic ProN",
        "Arial",
        "BIZ UDGothic",
        "Yu Gothic",
        "Meiryo",
        sans-serif;
    text-align: center;
}

.main {
    margin: 0 auto;
    background: linear-gradient(to top, #3d3d3b, #141414);
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}
