/* 3 Columns */
@media all and (min-width: 1251px) {
    .main {
        max-width: 1536px;
    }

    .base-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto minmax(400px, auto) auto auto;
        grid-template-areas:
            "pane1 pane1 pane1"
            "pane2 pane2 pane2"
            "pane3 pane6 result-pane"
            "pane3 pane6 result-pane"
            "bottom-pane bottom-pane pane7"
            "footer footer footer";
    }

    #status-area {
        display: block;
    }

    #condition-area {
        display: block;
    }
}

/* 2 Columns */
@media all and (min-width: 769px) and (max-width: 1250px) {
    .base-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto minmax(400px, auto) auto auto auto;
        grid-template-areas:
            "pane1 pane1"
            "pane2 pane2"
            "pane3 result-pane"
            "pane6 result-pane"
            "bottom-pane bottom-pane"
            "pane7 pane7"
            "footer footer";
    }

    #status-area {
        display: block;
    }

    #condition-area {
        display: none;
    }
}

/* 1 Column */
@media all and (max-width: 768px) {
    .main {
        min-width: 360px;
    }

    .base-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto minmax(400px, auto) auto auto auto;
        grid-template-areas:
            "pane1"
            "pane2"
            "pane3"
            "pane6"
            "result-pane"
            "bottom-pane"
            "pane7"
            "footer";
    }

    #status-area {
        display: none;
    }

    #condition-area {
        display: none;
    }

    .horizontal-list ul {
        overflow-x: auto;
        white-space: nowrap;
    }
}

body {
    color: blanchedalmond;
    background-color: black;
    font-size: 2.3rem;
    font-family: "Helvetica Neue",
        "Helvetica",
        "Hiragino Sans",
        "Hiragino Kaku Gothic ProN",
        "Arial",
        "BIZ UDGothic",
        "Yu Gothic",
        "Meiryo",
        sans-serif;
}

.main {
    background: linear-gradient(to top, #3d3d3b, #141414);
    margin: 0 auto;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    border-radius: 5px;
    padding: 2px 1px;
}

.stat-value, .damage-value {
    font-size: 2.6rem;
}

.pane1 {
    grid-area: pane1;
    margin-bottom: 20px;
}

.pane2 {
    grid-area: pane2;
    margin-bottom: 20px;
}

.pane3 {
    grid-area: pane3;
    vertical-align: top;
    margin-bottom: 20px;
}

.pane6 {
    grid-area: pane6;
    vertical-align: top;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.result-pane {
    grid-area: result-pane;
    vertical-align: top;
    margin-bottom: 20px;
}

.bottom-pane {
    grid-area: bottom-pane;
    margin-bottom: 20px;
}

.pane7 {
    grid-area: pane7;
    margin-bottom: 20px;
}

.footer {
    grid-area: footer;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

.hidden {
    display: none;
}

table, thead, tbody, th, td {
    padding: 0;
    margin: 0;
}

button {
    vertical-align: middle;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.pyro {
    color: #d2655a;
}

.hydro {
    color: #559cc9;
}

.anemo {
    color: #3aaf7a;
}

.electro {
    color: #b681df;
}

.cryo {
    color: #63beb4;
}

.geo {
    color: #df8f37;
}

.pyro-bg {
    background-color: #d2655a;
}

.hydro-bg {
    background-color: #559cc9;
}

.anemo-bg {
    background-color: #3aaf7a;
}

.electro-bg {
    background-color: #b681df;
}

.cryo-bg {
    background-color: #63beb4;
}

.geo-bg {
    background-color: #df8f37;
}

.star1-bg {
    background-image: url('../images/star1-bg.png');
}

.star2-bg {
    background-image: url('../images/star2-bg.png');
}

.star3-bg {
    background-image: url('../images/star3-bg.png');
}

.star4-bg {
    background-image: url('../images/star4-bg.png');
}

.star5-bg {
    background-image: url('../images/star5-bg.png');
}

img {
    vertical-align: middle;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #e8d14e;
    text-shadow: 0 0 5px black;
    border: 4px double gray;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333;
}

h2 label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

fieldset {
    border-radius: 10px;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: 5px 3px;
}

img.star {
    width: 2.4rem;
}

ul.select-list {
    list-style-type: none;
    padding: 0;
}

ul.select-list li {
    display: inline-block;
    margin: 0;
    position: relative;
}

.icon {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -0.5rem;
    left: 2rem;
    white-space: nowrap;
    color: #e8d14e;
    text-shadow: 0px 1px 5px black;
    z-index: 100;
    display: none;
}

:hover+.tooltip {
    display: block;
}

.no-border {
    border: none !important;
}

input[type="checkbox"]:disabled+span {
    color: gray;
}

td button, td label.button {
    width: calc(100% - 4px);
}

label.button {
    border: 2px solid gray;
    border-radius: 15px;
}

label.checkbox {
    margin-right: 1rem;
    white-space: nowrap;
}

div.filter img.filter {
    width: 48px;
    height: 48px;
    border: 2px solid transparent;
}

div.filter img.filter.selected {
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    border: 2px solid gray;
    padding: 5px;
    margin: 5px 1px;
    text-shadow: 0 0 3px black;
    color: #e8d14e;
    background-color: #333;
    border-radius: 10px;
}

th .toggle-switch, td.toggle-switch, h2 .toggle-switch {
    width: inherit;
}

.toggle-switch::before, .toggle-switch::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.toggle-switch::after {
    transform: translateY(-50%) rotate(90deg);
}

:checked+.toggle-switch::after {
    transform: translateY(-50%) rotate(0);
}

.pane1 fieldset {
    margin: 2px;
    position: relative;
}

.pane1 fieldset p a {
    margin: 5px;
}

ul.character-list,
ul.weapon-list,
#artifact-set-select ul {
    width: calc(100% - 4px);
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.character-list li,
.weapon-list li,
#artifact-set-select li {
    display: inline-block;
    position: relative;
}

.character-list li img.character {
    width: 96px;
    height: 96px;
    background-size: contain;
}

.character-list li img.vision {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.character-list li p.constellation,
.weapon-list li p.refine {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 2px;
    margin: 0;
    text-shadow: 0 0 5px black;
}

.weapon-list li img,
#artifact-set-select li img {
    width: 64px;
    height: 64px;
    background-size: contain;
}

#weapon-own-list .weapon-list li img {
    width: 96px;
    height: 96px;
}

.character-list li img.selected,
.weapon-list li img.selected,
#artifact-set-select li img.selected {
    background-color: whitesmoke;
}

#character-input {
    margin-left: auto;
    margin-right: auto;
}

#character-input table {
    width: 100%;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    table-layout: fixed;
}

#character-input table tr {
    border: none;
}

#character-input table td {
    border: none;
}

#character-input table td.title {
    font-size: 3rem;
    text-align: left;
    text-shadow: 0 0 2px black;
}

#character-input table td select, #character-input table td input, #character-input table td label {
    width: calc(100% - 4px);
}

#character-input img.character {
    width: 180px;
    height: 180px;
    background-size: contain;
}

#character-input img.vision {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5%;
    top: 5%;
}

#character-input img.weapon {
    width: 150px;
    height: 150px;
    background-size: contain;
}

#character-input img.talent {
    width: 100%;
    max-width: 72px;
    border-radius: 50%;
    border: none;
}

#character-input input[type="radio"] {
    display: none;
}

#character-input img.artifact-set {
    width: calc(100% - 4px);
    max-width: 72px;
    border-radius: 50%;
    border: 2px solid gray;
}

#character-input img.artifact-set.selected {
    background-color: whitesmoke;
}

td input[type="number"] {
    border-radius: 0.6rem;
    text-align: right;
}

#character-input table td input[type="text"].save-name {
    width: calc(100% - 2rem);
    font-size: larger;
}

.artifact-detail-button {
    position: relative;
    background-color: transparent;
    color: blanchedalmond;
}

.left-icon, .right-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
}

.left-icon {
    left: 7px;
}

.right-icon {
    right: 7px;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#artifact-detail-input fieldset label {
    display: inline-block;
}

label.open-close {
    padding-left: 2rem;
    position: relative;
    color: #e8d14e;
    background-color: #333;
    border-radius: 10px;
}

label.open-close input[type="checkbox"]+span {
    display: inline-block;
}

label.open-close input[type="checkbox"]+span::before,
label.open-close input[type="checkbox"]+span::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

label.open-close input[type="checkbox"]+span::after {
    transform: translateY(-50%) rotate(90deg);
}

label.open-close input[type="checkbox"]:checked+span::after {
    transform: translateY(-50%) rotate(0);
}

label.condition {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

label.condition input, label.condition select {
    margin-left: 1rem;
    margin-right: 1rem;
}

label.condition input[type="checkbox"]:checked+span {
    color: palevioletred;
}

label.stat-and-value {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type="number"].level {
    width: 12rem;
}

table th {
    font-weight: normal;
}

label.expandable-option {
    display: inline-block;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 2px solid gray;
    border-radius: 10px;
}

div.misc-option-list {
    text-align: left;
}

div.misc-option-list label.condition {
    min-width: calc(50% - 2rem);
}

table.status {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-spacing: 0;
    border: 2px solid gray;
    border-radius: 10px;
}

table.status th,
table.status td {
    min-width: 10rem;
    text-align: right;
    white-space: nowrap;
    border-bottom: 1px solid gray;
    padding-right: 1rem;
    font-weight: normal;
}

table.status th {
    padding-top: 4px;
    padding-bottom: 4px;
}

table.status td {
    padding-top: 3px;
    padding-bottom: 3px;
}

table.status th {
    color: #df8f37;
}

table.status th[colspan="2"],
table.status th[colspan="3"] {
    text-align: center;
    background-color: #333;
    color: #e8d14e;
}

table.status td[colspan="2"],
table.status td[colspan="3"] {
    border-color: transparent;
}

table.status td input[type="number"] {
    width: calc(100% - 8px);
}

table.result {
    width: calc(100% - 6px);
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-spacing: 0;
    border: 2px solid gray;
    border-radius: 10px;
}

table.result th,
table.result td {
    min-width: 10rem;
    text-align: right;
    white-space: nowrap;
    border-bottom: 1px solid gray;
    padding-right: 1rem;
    font-weight: normal;
}

table.result th {
    padding-top: 4px;
    padding-bottom: 4px;
}

table.result td {
    padding-top: 3px;
    padding-bottom: 3px;
}


table.result th:first-child {
    width: 24rem;
    text-align: right;
    color: #df8f37;
    white-space: nowrap;
}

table.result thead th {
    color: palevioletred;
    background-color: #333;
}

/* table.result tbody th {
    font-size: smaller;
} */

table.result thead th:first-child {
    color: gold;
}

.tab-switch,
.elemental-reaction {
    width: 100%;
}

.tab-switch label,
.elemental-reaction label {
    display: inline-block;
    width: calc(100% / 4 - 6px - 1rem);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 5px 1px;
    text-shadow: 0 0 3px black;
}

.tab-switch input[type="radio"],
.elemental-reaction input[type="radio"] {
    display: none;
}

.tab-switch input[type="radio"]+label,
.elemental-reaction input[type="radio"]+label {
    background: linear-gradient(to top, #ad5b18, #55290b);
}

.tab-switch input[type="radio"]:checked+label,
.elemental-reaction input[type="radio"]:checked+label {
    background: linear-gradient(to top, #dcc751, #bba116);
}

table.information {
    border: 2px solid gray;
}

table.information th {
    font-weight: normal;
    white-space: nowrap;
}

table.information th, table.information td {
    border: 1px solid gray;
}

table.information th.img {
    width: 60px;
}

table.information img.icon {
    width: 60px;
}

td.description {
    text-align: left;
}

ul.option-description {
    list-style-type: none;
    padding: 0;
}

ul.option-description li {
    display: inline-block;
    margin: 0.5rem 1rem;
}