button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    border-radius: 5px;
    padding: 2px 1px;
}

button {
    padding-left: 8px;
    padding-right: 8px;
}

.stat-value, .damage-value {
    font-size: 2.6rem;
}

.pane1 {
    grid-area: pane1;
    margin-bottom: 20px;
}

.pane2 {
    grid-area: pane2;
    margin-bottom: 20px;
}

.pane3 {
    grid-area: pane3;
    vertical-align: top;
    margin-bottom: 20px;
}

.pane4 {
    grid-area: pane4;
    vertical-align: top;
    margin-bottom: 20px;
}

.pane5 {
    grid-area: pane5;
    vertical-align: top;
    margin-bottom: 20px;
}

.pane6 {
    grid-area: pane6;
    vertical-align: top;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.result-pane {
    grid-area: result-pane;
    vertical-align: top;
    margin-bottom: 20px;
}

.bottom-pane {
    grid-area: bottom-pane;
    margin-bottom: 20px;
}

.pane7 {
    grid-area: pane7;
    margin-bottom: 20px;
}

.footer {
    grid-area: footer;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

.hidden {
    display: none;
}

table, thead, tbody, th, td {
    padding: 0;
    margin: 0;
}

button {
    vertical-align: middle;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

/* HoYoWikiの色
FF9999
80C0FF
80FFD7
FFACFF
99FF88
99FFFF
FFE699
*/
.pyro {
    color: #FF7A7A;
}

.hydro {
    color: #66ADFF;
}

.anemo {
    color: #66FFC2;
}

.electro {
    color: #FF8AFF;
}

.dendro {
    color: #8AFF6D;
}

.cryo {
    color: #7AFFFF;
}

.geo {
    color: #FFCF7A;
}

.pyro-bg {
    background-color: #cc6262;
}

.hydro-bg {
    background-color: #508ACC;
}

.anemo-bg {
    background-color: #50CCA2;
}

.electro-bg {
    background-color: #CC6ECC;
}

.dendro-bg {
    background-color: #6ECC58;
}

.cryo-bg {
    background-color: #63CCCC;
}

.geo-bg {
    background-color: #CCA663;
}

.star1-bg {
    background-image: url('../images/star1-bg.png');
}

.star2-bg {
    background-image: url('../images/star2-bg.png');
}

.star3-bg {
    background-image: url('../images/star3-bg.png');
}

.star4-bg {
    background-image: url('../images/star4-bg.png');
}

.star5-bg {
    background-image: url('../images/star5-bg.png');
}

img {
    vertical-align: middle;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #e8d14e;
    text-shadow: 0 0 5px black;
    border: 4px double gray;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333;
}

h2 label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

fieldset {
    border-radius: 10px;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: 5px 3px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

img.star {
    width: 2.4rem;
}

ul.select-list {
    list-style-type: none;
    padding: 0;
}

ul.select-list li {
    display: inline-block;
    margin: 0;
    position: relative;
}

ul.own-list {
    list-style-type: none;
    padding: 0;
}

ul.own-list li {
    display: inline-block;
    margin: 0;
    position: relative;
}

.icon {
    position: relative;
}

.with-tooltip {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -0.5rem;
    left: 2rem;
    white-space: nowrap;
    color: #e8d14e;
    text-shadow: 0px 1px 5px black;
    z-index: 100;
    display: none;
}

:hover+.tooltip {
    display: block;
}

.no-border {
    border: none !important;
}

input[type="checkbox"]:disabled+span {
    color: gray;
}

td button {
    width: calc(100% - 4px);
}

div.filter img.filter {
    width: 48px;
    height: 48px;
    border: 2px solid transparent;
}

div.filter img.filter.selected {
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    border: 2px solid gray;
    padding: 5px;
    margin: 5px 1px;
    text-shadow: 0 0 3px black;
    color: #e8d14e;
    background-color: #333;
    border-radius: 10px;
}

th .toggle-switch, td.toggle-switch, h2 .toggle-switch {
    width: inherit;
}

.toggle-switch::before, .toggle-switch::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.toggle-switch::after {
    transform: translateY(-50%) rotate(90deg);
}

:checked+.toggle-switch::after {
    transform: translateY(-50%) rotate(0);
}

.pane1 fieldset {
    margin: 2px;
    position: relative;
}

.pane1 fieldset p a {
    margin: 5px;
}

td input[type="number"] {
    border-radius: 0.6rem;
    text-align: right;
}

.artifact-detail-button {
    position: relative;
    background-color: transparent;
    color: blanchedalmond;
}

.left-icon, .right-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
}

.left-icon {
    left: 7px;
}

.right-icon {
    right: 7px;
}


label.open-close {
    padding-left: 2rem;
    position: relative;
    color: #e8d14e;
    background-color: #333;
    border-radius: 10px;
}

label.open-close input[type="checkbox"]+span {
    display: inline-block;
}

label.open-close input[type="checkbox"]+span::before,
label.open-close input[type="checkbox"]+span::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

label.open-close input[type="checkbox"]+span::after {
    transform: translateY(-50%) rotate(90deg);
}

label.open-close input[type="checkbox"]:checked+span::after {
    transform: translateY(-50%) rotate(0);
}

label.condition {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

label.condition input, label.condition select {
    margin-left: 1rem;
    margin-right: 1rem;
}

label.condition input[type="checkbox"]:checked+span {
    color: palevioletred;
}

label.stat-and-value {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type="number"].level {
    width: 12rem;
}

table th {
    font-weight: normal;
}

.tab-switch,
.elemental-reaction {
    width: 100%;
}

.tab-switch label,
.elemental-reaction label {
    display: inline-block;
    width: calc(100% / 4 - 6px - 1rem);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 5px 1px;
    text-shadow: 0 0 3px black;
}

.tab-switch input[type="radio"],
.elemental-reaction input[type="radio"] {
    display: none;
}

.tab-switch input[type="radio"]+label,
.elemental-reaction input[type="radio"]+label {
    background: linear-gradient(to top, #ad5b18, #55290b);
}

.tab-switch input[type="radio"]:checked+label,
.elemental-reaction input[type="radio"]:checked+label {
    background: linear-gradient(to top, #dcc751, #bba116);
}

table.information {
    border: 2px solid gray;
}

table.information th {
    font-weight: normal;
    white-space: nowrap;
}

table.information th, table.information td {
    border: 1px solid gray;
}

table.information th.img {
    width: 60px;
}

table.information img.icon {
    width: 60px;
}

td.description {
    text-align: left;
}

ul.option-description {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

ul.option-description li {
    display: inline-block;
    margin: 0.5rem 1rem;
}