body {
    color: blanchedalmond;
    background-color: black;
}

#main {
    background: linear-gradient(to top, #3d3d3b, #141414);
    font-size: 2.2rem;
}

h2 {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

input {
    font-size: 3rem;
}

textarea {
    font-size: 3rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex label {
    order: 0;
}

.flex textarea {
    order: 1;
}

div.visual-area {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.data-area fieldset {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

textarea+label {
    display: block;
}

div.character-line {
    position: relative;
    max-width: 100%;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.character-line img.face {
    width: 80px;
    height: 80px;
    vertical-align: top;
}

div.character-line .info {
    position: absolute;
    left: 20px;
    bottom: 0;
}

div.character-line div.actions {
    position: absolute;
    width: calc(100% - 80px - 20px - 10px);
    left: calc(80px);
    bottom: 0;
    border-bottom: 3rem solid;
}

.actions div.action {
    position: absolute;
    border-radius: 40%;
    bottom: -3rem;
    text-align: center;
}

div.action img.action {
    position: absolute;
    bottom: 3rem;
    width: 36px;
    vertical-align: top;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

div.action p {
    font-size: 2rem;
    color: black;
    margin: 0;
    width: 36px;
}

div.data-compact {
    text-align: left;
}

div.data-compact img.face {
    width: 80px;
    height: 80px;
    vertical-align: top;
}

div.data {
    text-align: left;
}

div.data .data-control {
    position: relative;
}

div.data .data-control p.name {
    display: inline-block;
    width: 64rem;
    margin: 0.5rem 2rem;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: solid 2px gold;
}

.data-control button {
    width: 80px;
}

.data-control button.data-remove {
    position: absolute;
    right: 0px;
}

.rotation-area {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
}

.description-area {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
}

fieldset.description {
    margin: 3rem 1rem;
    /* padding-bottom: 0.5rem;
    padding-inline-start: 0.2rem;
    padding-inline-end: 0.2rem;
    padding-block-start: 0.2rem;
    padding-block-end: 0.2rem; */
    border-radius: 1rem;
}