<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>げんろーて - Genshin Impact Rotation Visualizer</title>
    <link href="styles/base-style.css" rel="stylesheet" />
    <link href="styles/RotationVisualizer.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            border: solid 2px;
        }

        tr {
            border: solid 2px;
        }

        td {
            border: solid 1px;
        }

        .notice {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div id="main">
        <fieldset style="margin: 1rem; position: relative;">
            <legend>げんろーて - Genshin Impact Rotation Visualizer</legend>
            <p style="text-align: left;"><a href="/gencalc/">げんかるく</a> </p>
        </fieldset>

        <h2>CHARACTER NAME</h2>
        <div class="char-name-list" id="charNameList">
            <table>
                <template v-for="rowItem in list">
                    <tr>
                        <template v-for="columnItem in rowItem">
                            <td>{{columnItem}}</td>
                        </template>
                    </tr>
                </template>
            </table>

            <div class="notice">
                <ul>
                    <li>CASE INSENSITIVE</li>
                    <li>NAME IN KANJI, IF LENGTH >= 2 THEN STARTSWITH or ENDSWITH</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        async function onLoad() {
            const responses = await Promise.all([
                'data/CharacterMaster.json'
            ].map(url => fetch(url).then(resp => resp.json())));

            const CHARACTER_MASTER = responses[0];

            const characterMatchMap = new Map();
            Object.keys(CHARACTER_MASTER).forEach(key => {
                const importVal = CHARACTER_MASTER[key]['import'];
                const splitted = importVal.split('_');
                const mapValue = [];
                mapValue.push(key);
                const name1 = splitted[splitted.length - 1].replace('.json', '');
                mapValue.push(name1);
                const name2 = name1.split(/(?=[A-Z])/).join(' ');
                if (name2 != name1) {
                    mapValue.push(name2);
                }
                if (name2.indexOf(' ') != -1) {
                    const nameSplitted = name2.split(' ');
                    mapValue.push(nameSplitted[0]);
                    mapValue.push(nameSplitted[1]);
                }
                characterMatchMap.set(key, mapValue);
            })
            console.log(characterMatchMap);

            let nameArrFlat = [];
            const nameArr = [];
            characterMatchMap.forEach((value, key) => {
                const newValue = [];
                value.forEach(v => {
                    if (!nameArrFlat.includes(v)) {
                        newValue.push(v)
                    }
                })
                nameArr.push(newValue);
                nameArrFlat = nameArrFlat.concat(newValue)
            })

            var charNameList = new Vue({
                el: '#charNameList',
                data: {
                    list: nameArr
                }
            })
        }

        onLoad();
    </script>
</body>

</html>