<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>げんろーて - Genshin Impact Rotation Visualizer</title>
    <link href="styles/base-style.css" rel="stylesheet" />
    <link href="styles/RotationVisualizer.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/RotationVisualiser.js"></script>
    <style>
        li.data {
            text-align: left;
        }

        li.data div {
            display: inline-block;
            vertical-align: top;
            min-width: 360px;
        }

        div.action {
            min-width: 360px;
        }

        img {
            width: 32px;
            height: 32px
        }
    </style>
</head>

<body>
    <div id="main">
        <fieldset style="margin: 1rem; position: relative;">
            <legend>げんろーて - Genshin Impact Rotation Visualizer</legend>
            <p style="text-align: left;"><a href="/gencalc/">げんかるく</a> </p>
        </fieldset>

        <h2>NEW ROTATION</h2>
        <div class="rotation-data" id="data_">
            <div>
                <input class="name" type="text" name="name" size="40" minlength="1" maxlength="40" v-model="name"
                    placeholder="INPUT YOUR ROTATION NAME">
                <button type="button" @click="saveButtonOnClick">SAVE</button>
            </div>
            <textarea :value="rotation" @input="rotationOnInput" class="rotation" name="rotation" cols="60" rows="8"
                placeholder="INPUT YOUR ROTATION"></textarea>
            <textarea v-model="description" class="description" name="description" cols="60" rows="8"
                placeholder="INPUT DESCRIPTION"></textarea>
            <ol>
                <template v-for="character in rotation4v.list">
                    <li class="character-rotation">
                        <img :src="character.imgSrc" :alt="character.name"
                            :style="'background-image: url(' + character.starBgUrl +');'">
                        <div class="character-actions-area">
                            <template v-for="action in character.actions">
                                <div class="character-action"
                                    :style="'left: ' + action.x + 'px; top: ' + action.y + 'px;'">
                                    <template v-for="icon in action.icons">
                                        <img :src="icon.imgSrc" :alt="icon.name"
                                            :style="'left: ' + (action.x + icon.x) + 'px; top: ' + (action.y + icon.y) + 'px;'">
                                    </template>
                                    <p>{{actions.name}}</p>
                                </div>
                            </template>
                        </div>
                    </li>
                </template>
            </ol>
        </div>

        <h2>YOUR ROTATIONS</h2>
        <ol class="your-data-area" id="saveDataArea">
            <template v-for="saveData in list">

            </template>
        </ol>

        <h2>SAMPLE ROTATIONS</h2>
        <ol class="sample-data-area" id="sampleDataArea">
            <template v-for="(item, index) in list">
                <li class="data" :key="index">
                    {{item.name}} <br>
                    <template v-if="item.isCompact">
                        <button type="button">↓</button>
                        <div>
                            <template v-for="character in item.rotation4v.list">
                                <img :src="character.imgSrc" :alt="character.name"
                                    :style="'background-image: url(' + character.starBgUrl +');'">
                            </template>
                        </div>
                        <div class="description"> {{item.description}} </div>
                    </template>
                    <template v-else>
                        <button type="button">↑</button>
                        <div>
                            <template v-for="character in item.rotation4v.list">
                                <img :src="character.imgSrc" :alt="character.name"
                                    :style="'background-image: url(' + character.starBgUrl +');'">
                                <div class="actions">
                                    <template v-for="action in character.actions">
                                        <div class="action"
                                            :style="'left: ' + action.x + 'px; width: ' + action.width + 'px;'">
                                            <template v-for="icon in action.icons">
                                                <img :src="icon.imgSrc"
                                                    :style="'background-color: ' + character.elementColor + '; left: ' + icon.x + 'px;'">
                                            </template>
                                            <p> {{action.name}} </p>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                        <div class="description"> {{item.description}} </div>
                    </template>
                </li>
            </template>
        </ol>
    </div>

    <script>
        window.onload = () => {
            init();
        };
    </script>
</body>

</html>