body {
    color: blanchedalmond;
    background-color: black;
}

#main {
    background: linear-gradient(to top, #3d3d3b, #141414);
    font-size: 2.2rem;
}

h2 {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

.toggle-switch {
    position: relative;
}

.toggle-switch::before, .toggle-switch::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.toggle-switch::after {
    transform: translateY(-50%) rotate(90deg);
}

.toggle-switch.opened::after {
    transform: translateY(-50%) rotate(0);
}

.toggle-switch div, ol {
    visibility: hidden;
}

.toggle-switch.opened div, ol {
    visibility: visible;
}

li.data {
    text-align: left;
}

div.controller button {
    display: inline-block;
}

img.character {
    background-size: contain;
    width: 90px;
    height: 90px;
}

div.description {
    text-align: left;
    vertical-align: top;
    min-width: 360px;
    min-height: 80px;
    padding: 5px;
    border-radius: 15px;
    border: double 3px;
}

div.compact div {
    display: inline-block;
}

div.characters {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    min-width: 360px;
}

div.character {
    position: relative;
    height: 90px;
    width: 100%;
}

div.character img.character {
    position: absolute;
    left: 0px;
}

div.character div.actions {
    position: absolute;
    left: 90px;
    top: 0px;
    width: calc(100% - 90px);
    height: 75px;
    border-bottom: solid 15px;
}

div.actions div.action {
    position: absolute;
    bottom: -10px;
    min-width: 45px;
    min-height: calc(45px + 20px);
}

div.icon {
    position: absolute;
    top: 0;
    height: 49px;
    z-index: 0
}

img.icon {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 2px;
    z-index: 1;
}

div.noicon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 80%;
    border: solid 2px;
    transform: rotate(45deg);
    z-index: 2;
}

div.noicon p.noicon {
    font-size: 14px;
    font-weight: bold;
    color: red;
    margin-block-start: 0;
    margin-block-end: 0;
    transform: rotate(-45deg);
}

div.actions div.action p.name {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    bottom: -10px;
    font-size: 15px;
    font-weight: bold;
    color: darkred;
    margin-block-start: 0;
    margin-block-end: 0;
}

div.actions div.comment {
    position: absolute;
    top: 0;
    color: gold;
}

/* input {
    font-size: 3rem;
}

textarea {
    font-size: 3rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex label {
    order: 0;
}

.flex textarea {
    order: 1;
}

div.visual-area {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.data-area fieldset {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

textarea+label {
    display: block;
}

div.character-line {
    position: relative;
    max-width: 100%;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.character-line img.face {
    width: 80px;
    height: 80px;
    vertical-align: top;
}

div.character-line .info {
    position: absolute;
    left: 20px;
    bottom: 0;
}

div.character-line div.actions {
    position: absolute;
    width: calc(100% - 80px - 20px - 10px);
    left: calc(80px);
    bottom: 0;
    border-bottom: 3rem solid;
}

.actions div.action {
    position: absolute;
    border-radius: 40%;
    bottom: -3rem;
    text-align: center;
}

div.action img.action {
    position: absolute;
    bottom: 3rem;
    width: 36px;
    vertical-align: top;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

div.action p {
    font-size: 2rem;
    color: black;
    margin: 0;
    width: 36px;
}

div.data-compact {
    text-align: left;
}

div.data-compact img.face {
    width: 80px;
    height: 80px;
    vertical-align: top;
}

div.data {
    text-align: left;
}

div.data .data-control {
    position: relative;
}

div.data .data-control p.name {
    display: inline-block;
    width: 64rem;
    margin: 0.5rem 2rem;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: solid 2px gold;
}

.data-control button {
    width: 80px;
}

.data-control button.data-remove {
    position: absolute;
    right: 0px;
}

.rotation-area {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
}

.description-area {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 10px;
}