<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>CharacterMaster - Gencalc</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="styles/base-style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-good-table@2.18.0/dist/vue-good-table.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue-good-table@2.18.0/dist/vue-good-table.js"></script>
    <script src="js/gencalc_common.js"></script>
    <style>
        body {
            color: blanchedalmond;
            background-color: black;
            font-size: 2rem;
        }

        #main {
            max-width: 1280px;
            background: linear-gradient(to top, #3d3d3b, #141414);
            margin: 0 auto;
            font-family: 'Yusei Magic', sans-serif;
        }

        a:link {
            color: blanchedalmond;
        }

        a:visited {
            color: blanchedalmond;
        }

        #character-master-list img.character {
            width: 6rem;
            background-size: contain;
        }

        #character-master-list img.vision {
            position: absolute;
            left: 0;
            top: 0;
            width: 2rem;
        }

        #character-master-list img.star {
            width: 2rem;
        }
    </style>
</head>

<body>
    <div id="main">
        <div style="text-align: left;">
            <p><a href="./index.html">Back to GENCALC</a></p>
        </div>

        <h1>キャラクターマスター</h1>

        <div id="character-master-list">
            <vue-good-table :columns="columns" :rows="rows" :line-numbers="true" styleclass="vgt-table striped"
                @on-row-dblclick="onRowDoubleClick">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.label == 'NAME'">
                        <div style="position: relative; display: inline-block;">
                            <img class="character" :src="props.row.url" :alt="props.row.name"
                                :style="'background-image: url(' + props.row.rarityBgUrl +')'">
                            <img class="vision" :src="props.row.visionUrl" :alt="props.row.vision">
                        </div>
                        {{props.row.name}}
                    </span>
                    <span v-else-if="props.column.label == 'STAR'">
                        <img class="star" v-for="dummy in new Array(props.row.rarity)" src="images/star.png">
                    </span>
                    <span v-else>
                        {{props.formattedRow[props.column.field]}}
                    </span>
                </template>
            </vue-good-table>
        </div>

        <hr>

        <div style="padding-bottom: 4rem;">
            <p>CharacterMaster</p>
        </div>
    </div>

    <script>
        var キャラクターMaster = {};
        var characterMasterList = [];

        var characterMasterListVue;

        async function onLoad() {
            const responses = await Promise.all([
                'data/CharacterMaster.json'
            ].map(s => fetch(s).then(resp => resp.json())));

            キャラクターMaster = responses[0];

            Object.keys(キャラクターMaster).forEach(name => {
                const entry = キャラクターMaster[name];
                characterMasterList.push({
                    name: name,
                    rarity: entry['レアリティ'],
                    vision: entry['元素'],
                    weapon: entry['武器'],
                    birthday: '誕生日' in entry ? entry['誕生日'] : null,
                    url: getCharacterImageUrl(entry),
                    rarityBgUrl: getBackgroundUrlByRarity(entry['レアリティ']),
                    visionUrl: getVisionImageUrl(entry['元素'])
                });
            });

            characterMasterListVue = new Vue({
                el: '#character-master-list',
                data: {
                    columns: [
                        {
                            label: 'NAME',
                            field: 'name'
                        },
                        {
                            label: 'STAR',
                            field: 'rarity',
                            type: 'number'
                        },
                        {
                            label: 'VISION',
                            field: 'vision'
                        },
                        {
                            label: 'WEAPON',
                            field: 'weapon'
                        },
                        {
                            label: 'BIRTHDAY',
                            field: 'birthday'
                        }
                    ],
                    rows: characterMasterList
                },
                methods: {
                    onRowDoubleClick: function (params) {
                        // params.row - row object 
                        // params.pageIndex - index of this row on the current page.
                        // params.selected - if selection is enabled this argument 
                        // indicates selected or not
                        // params.event - click event
                        const url = encodeURI('./CharacterMasterDetail.html?name=' + params.row.name);
                        console.log(params, url);
                        window.location.href = url;
                    }
                }
            });
        }

        onLoad();
    </script>
</body>

</html>