<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>DATA IMPORTER powered by Enka.Network - Gencalc</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link href="styles/base-style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        @media all and (min-width: 769px) {
            html {
                font-size: 8px;
            }

            body {
                font-size: 8px;
            }
        }

        @media all and (max-width: 768px) {
            html {
                font-size: calc(100vw / 72);
            }

            body {
                font-size: calc(100vw / 72);
            }
        }

        body {
            color: blanchedalmond;
            background-color: black;
            font-size: 2rem;
        }

        #main {
            max-width: 1280px;
            background: linear-gradient(to top, #3d3d3b, #141414);
            margin: 0 auto;
            font-family: 'Yusei Magic', sans-serif;
        }

        a:link {
            color: blanchedalmond;
        }

        a:visited {
            color: blanchedalmond;
        }

        input {
            font-size: 3rem;
            font-family: monospace;
        }

        button {
            vertical-align: bottom;
            font-family: 'Yusei Magic', sans-serif;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        table th {
            text-align: right;
            color: orange;
        }

        table td {
            text-align: left;
        }

        ul {
            width: 100%;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            list-style: none;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }

        ul li.character {
            position: relative;
            display: inline-block;
            width: calc(100% / 4);
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
        }

        img.character {
            width: 100%;
            max-width: 256px;
            background-size: contain;
        }

        img.vision {
            position: absolute;
            left: 4%;
            top: 4%;
            max-width: 25%;
            max-height: 25%;
        }
    </style>
</head>

<body>
    <div id="main">
        <div style="text-align: left; position: relative; width: 100%; min-height: 6rem;">
            <p style="position: absolute; left: 0; top: 0;"><a href="./">Back to GENCALC</a></p>

            <p style="position: absolute; right: 0; top: 0;"><a href="https://enka.shinshin.moe/">Enka.Network</a></p>
        </div>

        <h2>DATA IMPORTER <span style="font-size: smaller;">powered by</span> Enka.Network</h2>

        <div id="uid">
            <form @submit.prevent="submit">
                <label>
                    UID:
                    <input v-model="uid" type="text" placeholder="ENTER UID" pattern="[0-9]{9}">
                </label>
                <button type="submit" :disabled="timer > 0">
                    <span class="material-symbols-outlined"> send </span></button>
                <span class="time">&emsp; {{ timer }}</span>
            </form>
        </div>

        <hr>

        <div id="enka-network">
            <template v-if="u">
                <table style="margin-bottom: 4rem;">
                    <tr>
                        <th>UID:</th>
                        <td>{{ u.uid }}</td>
                    </tr>
                    <tr>
                        <th>NICKNAME:</th>
                        <td>{{ u.playerInfo.nickname }}</td>
                    </tr>
                </table>

                <ul>
                    <li class="character" v-for="(characterInfo, index) in characterInfoList">
                        <template v-if="characterInfo.character">
                            <img class="character" :src="characterInfo.character.url"
                                :alt="characterInfo.character.name"
                                :style="'background-image: url(' + characterInfo.character.rarityBgUrl +')'">
                            <img class="vision" :src="characterInfo.character.visionUrl"
                                :alt="characterInfo.character.vision">
                        </template>
                        <div v-if="false">
                            {{characterInfo}}
                        </div>
                        <div>
                            <button @click="locate(index)"
                                :disabled="!characterInfo['キャラクター構成']['キャラクター'] || !characterInfo['キャラクター構成']['武器']">
                                OPEN GENCALC</button>
                        </div>
                    </li>
                </ul>
            </template>
        </div>

        <hr>

        <div style="padding: 2rem;">
            《Enka.Network》様経由でゲーム内のキャラクターデータ取得して《げんかるく》に取り込むためのリンクを作成します。
            <ol style="text-align: left;">
                <li>UIDを入力後、<span class="material-symbols-outlined"> send </span>をクリックしてください</li>
            </ol>
            <hr>
            <p>下記の制約があります。</p>
            <ol style="text-align: left;">
                <li>不可：旅人</li>
                <li>不可：げんかるくに実装されていないキャラクター</li>
                <li>不可：げんかるくに実装されていない武器を装備しているデータ</li>
                <li>制限：げんかるくに実装されていない聖遺物セット効果はセット効果なし（NONE）に置き換えられる</li>
                <li>制限：キャラクターおよび武器のレベルはげんかるくに実装されている範囲の値に置き換えられる</li>
            </ol>
        </div>
    </div>

    <script>
        const キャラクター構成PROPERTY_MAP = new Map([
            ['キャラクター', null],
            ['レベル', null],
            ['命ノ星座', 0],
            ['通常攻撃レベル', 0],
            ['元素スキルレベル', 0],
            ['元素爆発レベル', 0],
            ['武器', null],
            ['武器レベル', 0],
            ['精錬ランク', 0],
            ['聖遺物セット効果1', null],
            ['聖遺物セット効果2', null],
            ['聖遺物メイン効果1', null],
            ['聖遺物メイン効果2', null],
            ['聖遺物メイン効果3', null],
            ['聖遺物メイン効果4', null],
            ['聖遺物メイン効果5', null],
            ['聖遺物サブ効果HP', 0],
            ['聖遺物サブ効果攻撃力', 0],
            ['聖遺物サブ効果防御力', 0],
            ['聖遺物サブ効果元素熟知', 0],
            ['聖遺物サブ効果会心率', 0],
            ['聖遺物サブ効果会心ダメージ', 0],
            ['聖遺物サブ効果元素チャージ効率', 0],
            ['聖遺物サブ効果HPP', 0],
            ['聖遺物サブ効果攻撃力P', 0],
            ['聖遺物サブ効果防御力P', 0],
            ['聖遺物優先するサブ効果1', null],
            ['聖遺物優先するサブ効果1上昇値', 0],
            ['聖遺物優先するサブ効果1上昇回数', 0],
            ['聖遺物優先するサブ効果2', null],
            ['聖遺物優先するサブ効果2上昇値', 0],
            ['聖遺物優先するサブ効果2上昇回数', 0],
            ['聖遺物優先するサブ効果3', null],
            ['聖遺物優先するサブ効果3上昇値', 0],
            ['聖遺物優先するサブ効果3上昇回数', 0]
        ]);

        const VISION_IMG_SRC = {
            炎: 'images/element_pyro.png',
            水: 'images/element_hydro.png',
            風: 'images/element_anemo.png',
            雷: 'images/element_electro.png',
            草: 'images/element_dendro.png',
            氷: 'images/element_cryo.png',
            岩: 'images/element_geo.png'
        };

        const GOBLET_MAINSTAT_OBJ = {
            FIGHT_PROP_FIRE_ADD_HURT: 'Pyro',
            FIGHT_PROP_WATER_ADD_HURT: 'Hydro',
            FIGHT_PROP_WIND_ADD_HURT: 'Anemo',
            FIGHT_PROP_ELEC_ADD_HURT: 'Electro',
            // Dendro
            FIGHT_PROP_ICE_ADD_HURT: 'Cryo',
            FIGHT_PROP_ROCK_ADD_HURT: 'Geo',
            FIGHT_PROP_PHYSICAL_ADD_HURT: 'Physical'
        };

        var キャラクターMaster = {};
        var 武器Master = {};
        var 聖遺物セット効果Master = {};
        var HoyoAvatarMaster = [];
        var HoyoWeaponMaster = [];
        var HoyoArtifactMaster = [];
        var CharacterImageList = [];

        var uidVue;
        var enkaNetworkVue;

        function makeCharacterInfo(u, index) {
            const result = {};
            result['avatarId'] = u.avatarInfoList[index].avatarId;
            result['icon'] = u.playerInfo.showAvatarInfoList[index].icon;
            result['level'] = u.playerInfo.showAvatarInfoList[index].level;

            if ('1002' in u.avatarInfoList[index].propMap) {    // 突破レベル？
                result['ascension'] = u.avatarInfoList[index].propMap['1002'];
            }

            // 命ノ星座？
            if ('talentIdList' in u.avatarInfoList[index]) {
                result['constellation'] = u.avatarInfoList[index].talentIdList.length;
            } else {
                result['constellation'] = 0;
            }

            const reliq = {
                itemIds: []
            };
            const reliqStat = {};
            const weapon = {};
            for (let equip of u.avatarInfoList[index].equipList) {
                if (equip.flat.itemType == 'ITEM_RELIQUARY') {   // 聖遺物
                    reliq['itemIds'].push(equip.itemId);

                    // メイン効果
                    if (equip.flat.reliquaryMainstat.mainPropId in reliqStat) {
                        reliqStat[equip.flat.reliquaryMainstat.mainPropId] += equip.flat.reliquaryMainstat.statValue;
                    } else {
                        reliqStat[equip.flat.reliquaryMainstat.mainPropId] = equip.flat.reliquaryMainstat.statValue;
                    }

                    // サブ効果
                    for (let reliquarySubstat of equip.flat.reliquarySubstats) {
                        if (reliquarySubstat.appendPropId in reliqStat) {
                            reliqStat[reliquarySubstat.appendPropId] += reliquarySubstat.statValue;
                        } else {
                            reliqStat[reliquarySubstat.appendPropId] = reliquarySubstat.statValue;
                        }
                    }
                } else if (equip.flat.itemType == 'ITEM_WEAPON') {    // 武器
                    weapon['itemId'] = equip.itemId;
                    if ('affixMap' in equip.weapon) {
                        Object.keys(equip.weapon.affixMap).forEach(key => {
                            weapon['affix'] = equip.weapon.affixMap[key];   // 精錬ランク？
                        });
                    }
                    weapon['level'] = equip.weapon.level;
                }
            }

            result['reliq'] = reliq;
            result['reliq']['stat'] = reliqStat;
            result['weapon'] = weapon;
            result['skillLevelList'] = [];
            Object.keys(u.avatarInfoList[index].skillLevelMap).forEach(key => {
                result['skillLevelList'].push(u.avatarInfoList[index].skillLevelMap[key]);
            });
            if ('proudSkillExtraLevelMap' in u.avatarInfoList[index]) {
                Object.keys(u.avatarInfoList[index].proudSkillExtraLevelMap).forEach(key => {
                    if (key.endsWith('2')) {    // 元素スキル？
                        result['skillLevelList'][1] += u.avatarInfoList[index].proudSkillExtraLevelMap[key];
                    } else if (key.endsWith('9')) { // 元素爆発？
                        result['skillLevelList'][2] += u.avatarInfoList[index].proudSkillExtraLevelMap[key];
                    }
                });
            }

            const workObj = makeShareData(result);
            const workArr = [];
            Object.keys(workObj).forEach(key => {
                workArr.push(workObj[key]);
            });
            result['キャラクター構成'] = workObj;
            result['share'] = workArr.join(',');

            const avatarArr = HoyoAvatarMaster.filter(s => s.id == result['avatarId']);
            if (avatarArr.length == 1) {
                result['name'] = avatarArr[0].name;
            }

            result['character'] = null;
            if (result['name']) {
                const characterArr = CharacterImageList.filter(s => s.name == result['name']);
                if (characterArr.length > 0) {
                    result['character'] = characterArr[0];
                }
            }

            return result;
        }

        const STAT_PROP_OBJ = {
            FIGHT_PROP_HP: '聖遺物サブ効果HP',
            FIGHT_PROP_ATTACK: '聖遺物サブ効果攻撃力',
            FIGHT_PROP_DEFENSE: '聖遺物サブ効果防御力',
            FIGHT_PROP_ELEMENT_MASTERY: '聖遺物サブ効果元素熟知',
            FIGHT_PROP_CRITICAL: '聖遺物サブ効果会心率',
            FIGHT_PROP_CRITICAL_HURT: '聖遺物サブ効果会心ダメージ',
            FIGHT_PROP_CHARGE_EFFICIENCY: '聖遺物サブ効果元素チャージ効率',
            FIGHT_PROP_HP_PERCENT: '聖遺物サブ効果HPP',
            FIGHT_PROP_ATTACK_PERCENT: '聖遺物サブ効果攻撃力P',
            FIGHT_PROP_DEFENSE_PERCENT: '聖遺物サブ効果防御力P',
        };

        const basename = path => path.split('/').pop().split('.').shift();

        function makeShareData(characterInfo) {
            const workObj = {};
            let characterName;

            let set_effect1 = null;
            let set_effect2 = null;
            const artifactSetObj = {};
            for (let itemId of characterInfo.reliq.itemIds) {
                itemId = Math.trunc(itemId / 10)
                let arr = HoyoArtifactMaster.filter(s => s.id == itemId);
                if (arr.length == 0) continue;
                const artifactName = arr[0].name;
                let artifactSetName;
                Object.keys(聖遺物セット効果Master).forEach(key => {
                    if ('artifact_list' in 聖遺物セット効果Master[key]) {
                        if (聖遺物セット効果Master[key]['artifact_list'].includes(artifactName)) {
                            artifactSetName = key;
                        }
                    }
                });
                if (artifactSetName) {
                    if (artifactSetName in artifactSetObj) {
                        artifactSetObj[artifactSetName]++;
                    } else {
                        artifactSetObj[artifactSetName] = 1;
                    }
                }
            }
            Object.keys(artifactSetObj).forEach(key => {
                if (artifactSetObj[key] >= 4) {
                    set_effect1 = key;
                    set_effect2 = key;
                } else if (artifactSetObj[key] >= 2) {
                    if (set_effect1) {
                        set_effect2 = key;
                    } else {
                        set_effect1 = key;
                    }
                }
            });

            キャラクター構成PROPERTY_MAP.forEach((value, key) => {
                workObj[key] = value;
                switch (key) {
                    case 'キャラクター':
                        {
                            const filtered = HoyoAvatarMaster.filter(s => s.id == characterInfo.avatarId);
                            if (filtered.length == 1) {
                                characterName = filtered[0].name;
                            } else if (filtered.length > 1) {

                            }
                            if (characterName) {
                                const myBasename = basename(キャラクターMaster[characterName]['import']);
                                workObj[key] = myBasename.split('_')[myBasename.split('_').length - 1];
                            }
                        }
                        break;
                    case 'レベル':
                        workObj[key] = Math.ceil(characterInfo.level / 10) * 10;
                        if (workObj[key] < 20) {
                            workObj[key] = 20;
                        } else if (workObj[key] < 40) {
                            workObj[key] = 40;
                        }
                        if ('ascension' in characterInfo) {
                            if ((workObj[key] == 80 && characterInfo.ascension == '6')
                                && (workObj[key] == 70 && characterInfo.ascension == '5')
                                && (workObj[key] == 60 && characterInfo.ascension == '4')
                                && (workObj[key] == 50 && characterInfo.ascension == '3')
                                && (workObj[key] == 40 && characterInfo.ascension == '2')
                                && (workObj[key] == 20 && characterInfo.ascension == '1')) {
                                workObj[key] += '+';
                            }
                        }
                        break;
                    case '命ノ星座':
                        workObj[key] = characterInfo.constellation;
                        break;
                    case '通常攻撃レベル':
                        workObj[key] = characterInfo.skillLevelList[0];
                        break;
                    case '元素スキルレベル':
                        workObj[key] = characterInfo.skillLevelList[1];
                        break;
                    case '元素爆発レベル':
                        workObj[key] = characterInfo.skillLevelList[2];
                        break;
                    case '武器':
                        if (characterName) {
                            const filtered = HoyoWeaponMaster.filter(s => s.id == characterInfo.weapon.itemId);
                            if (filtered.length > 0) {
                                const weapon = filtered[0].name;
                                if (weapon in 武器Master[キャラクターMaster[characterName]['武器']]) {
                                    const myBasename = basename(武器Master[キャラクターMaster[characterName]['武器']][weapon]['import']);
                                    workObj[key] = myBasename.split('_')[myBasename.split('_').length - 1];
                                }
                            }
                        }
                        break;
                    case '武器レベル':
                        workObj[key] = Math.ceil(characterInfo.weapon.level / 10) * 10;
                        if (workObj[key] < 80) {
                            workObj[key] = 80;
                        }
                        break;
                    case '精錬ランク':
                        workObj[key] = characterInfo.weapon.affix + 1;
                        break;
                    case '聖遺物セット効果1':
                        if (set_effect1) {
                            const myBasename = basename(聖遺物セット効果Master[set_effect1]['image']);
                            workObj[key] = myBasename.split('_')[myBasename.split('_').length - 1];
                        }
                        break;
                    case '聖遺物セット効果2':
                        if (set_effect2) {
                            const myBasename = basename(聖遺物セット効果Master[set_effect2]['image']);
                            workObj[key] = myBasename.split('_')[myBasename.split('_').length - 1];
                        }
                        break;
                    default:
                        break;
                }
            });

            Object.keys(characterInfo.reliq.stat).forEach(key => {
                if (key in STAT_PROP_OBJ) {
                    workObj[STAT_PROP_OBJ[key]] = Math.round(characterInfo.reliq.stat[key] * 10) / 10;
                } else if (key in GOBLET_MAINSTAT_OBJ) {
                    if (characterInfo.reliq.stat[key] > 34.8) {
                        workObj['聖遺物メイン効果4'] = '5_' + GOBLET_MAINSTAT_OBJ[key];
                    } else {
                        workObj['聖遺物メイン効果4'] = '4_' + GOBLET_MAINSTAT_OBJ[key];
                    }
                } else if (key == 'FIGHT_PROP_HEAL_ADD') {
                    if (characterInfo.reliq.stat[key] > 26.8) {
                        workObj['聖遺物メイン効果5'] = '5_Healing';
                    } else {
                        workObj['聖遺物メイン効果5'] = '4_Healing';
                    }
                }
            });

            return workObj;
        }

        async function onLoad() {
            const responses = await Promise.all([
                'data/CharacterMaster.json',
                'data/SwordMaster.json',
                'data/ClaymoreMaster.json',
                'data/PolearmMaster.json',
                'data/BowMaster.json',
                'data/CatalystMaster.json',
                'data/ArtifactSetMaster.json',
                'data/HoyoAvatarMaster.json',
                'data/HoyoWeaponMaster.json',
                'data/HoyoArtifactMaster.json'
            ].map(s => fetch(s).then(resp => resp.json())));

            キャラクターMaster = responses[0];
            武器Master = {
                片手剣: responses[1],
                両手剣: responses[2],
                長柄武器: responses[3],
                弓: responses[4],
                法器: responses[5]
            };
            聖遺物セット効果Master = responses[6];
            HoyoAvatarMaster = responses[7];
            HoyoWeaponMaster = responses[8];
            HoyoArtifactMaster = responses[9];

            Object.keys(キャラクターMaster).forEach(name => {
                const characterUrl = キャラクターMaster[name]['import'].replace(/data\/characters/, 'images/characters/face').replace(/json$/, 'png');
                CharacterImageList.push({
                    name: name,
                    rarity: キャラクターMaster[name]['レアリティ'],
                    vision: キャラクターMaster[name]['元素'],
                    weapon: キャラクターMaster[name]['武器'],
                    url: characterUrl,
                    rarityBgUrl: 'images/star' + キャラクターMaster[name]['レアリティ'] + '-bg.png',
                    visionUrl: VISION_IMG_SRC[キャラクターMaster[name]['元素']],
                    birthday: キャラクターMaster[name]['誕生日']
                });
            });

            uidVue = new Vue({
                el: "#uid",
                data: {
                    uid: '',
                    timer: 0,
                    timerObj: null
                },
                methods: {
                    submit: function () {
                        if (!this.uid && !this.match(/^[0-9]{9}$/)) return;
                        fetch('https://enka.shinshin.moe/u/' + this.uid).then(resp => resp.text()).then(text => {
                            const parser = new DOMParser();
                            const doc = parser.parseFromString(text, 'text/html');
                            console.log(doc, doc.scripts);
                            const json = JSON.parse(doc.scripts[3].innerHTML);
                            console.log(json);

                            enkaNetworkVue.u = json;

                            const characterInfoList = [];
                            for (let i = 0; i < enkaNetworkVue.u.playerInfo.showAvatarInfoList.length; i++) {
                                characterInfoList.push(makeCharacterInfo(enkaNetworkVue.u, i));
                            }
                            enkaNetworkVue.characterInfoList.splice(0, enkaNetworkVue.characterInfoList.length, ...characterInfoList);

                            this.timer = json.ttl;
                            const self = this;
                            this.timerObj = setInterval(function () { self.count() }, 1000);
                        });
                    },
                    count: function () {
                        if (this.timer > 0) {
                            this.timer--;
                        } else {
                            clearInterval(this.timerObj);
                        }
                    }
                }
            });

            enkaNetworkVue = new Vue({
                el: '#enka-network',
                data: {
                    u: null,
                    characterInfoList: []
                },
                methods: {
                    locate: function (index) {
                        window.open('./?allin=' + this.characterInfoList[index].share, '_blank');
                    }
                }
            });
        }

        onLoad();
    </script>
</body>

</html>