/* 2 Columns */
@media all and (min-width: 769px) {
    html {
        font-size: calc(100vw / 72 / 2);
    }

    body {
        font-size: calc(100vw / 72 / 2);
    }

    .input-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "name-and-controller name-and-controller"
            "rotation description";
    }

    .view-container-compact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "characters description";
    }
}

/* 1 Column */
@media all and (max-width: 768px) {
    html {
        font-size: calc(100vw / 72);
    }

    body {
        font-size: calc(100vw / 72);
    }

    #main {
        min-width: 360px;
    }

    .input-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "name-and-controller"
            "rotation"
            "description";
    }

    .view-container-compact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "characters"
            "description";
    }
}

body {
    color: blanchedalmond;
    background-color: black;
}

#main {
    background: linear-gradient(to top, #3d3d3b, #141414);
    font-size: 2.2rem;
}

h2 {
    max-width: 60rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    font-size: 2.6rem;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

.toggle-switch {
    position: relative;
}

.toggle-switch::before, .toggle-switch::after {
    content: '';
    width: 1.5rem;
    height: 2px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.toggle-switch::after {
    transform: translateY(-50%) rotate(90deg);
}

.toggle-switch.opened::after {
    transform: translateY(-50%) rotate(0);
}

.toggle-switch+div, .toggle-switch+ol {
    display: none;
}

.toggle-switch.opened+div, .toggle-switch.opened+ol {
    display: block;
}


.input-container .name-and-controller {
    grid-area: name-and-controller;
}

.input-container .rotation {
    grid-area: rotation;
}

.input-container .description {
    grid-area: description;
}

.view-container-compact {
    margin-bottom: 1rem;
}

.view-container-compact .characters {
    grid-area: characters;
    border-bottom: double 3px;
}

.view-container-compact .description {
    grid-area: description;
}

div.rotation-data {
    text-align: center;
}

div.input-container {
    text-align: left;
}

input {
    margin: 5px;
    font-size: 2.2rem;
}

textarea {
    margin: 5px;
    font-size: 2.2rem;
}

button {
    border-width: 0;
    border-radius: 10%;
    padding: 0 6px;
    vertical-align: middle;
}

li.data {
    text-align: left;
    margin-bottom: 2rem;
}

div.description {
    text-align: left;
    vertical-align: top;
    min-width: 360px;
    min-height: 80px;
    padding: 5px;
    border-radius: 15px;
    border: double 3px;
}

div.compact div {
    display: inline-block;
}

div.characters {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    min-width: 360px;
}

div.character {
    position: relative;
    height: 90px;
    width: 100%;
}

img.character {
    position: absolute;
    left: 0px;
    width: 90px;
    height: 90px;
    background-size: contain;
    z-index: 10;
}

img.element {
    width: 25px;
    height: 25px;
    top: 4px;
    left: 4px;
    z-index: 100;
}

.view-container-compact .characters div.character {
    display: inline-block;
    position: relative;
    width: 90px;
}

div.character div.actions {
    position: absolute;
    left: 90px;
    top: 0px;
    width: calc(100% - 90px);
    height: 75px;
    border-bottom: solid 17px;
}

div.actions div.action {
    position: absolute;
    bottom: -10px;
    min-width: 45px;
    min-height: calc(45px + 20px);
}

div.icon {
    position: absolute;
    top: 5px;
    height: 49px;
    z-index: 0
}

img.icon {
    position: absolute;
    top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 2px;
    z-index: 1;
}

div.noicon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
    width: 20px;
    height: 20px;
    background-color: black;
    opacity: 80%;
    border: solid 2px;
    transform: rotate(45deg);
    z-index: 2;
}

div.noicon p.noicon {
    font-size: 14px;
    font-weight: bold;
    color: red;
    margin-block-start: 0;
    margin-block-end: 0;
    transform: rotate(-45deg);
}

div.actions div.action p.name {
    position: absolute;
    left: 19px;
    bottom: -10px;
    font-size: 15px;
    font-weight: bold;
    color: darkred;
    margin-block-start: 0;
    margin-block-end: 0;
}

div.actions div.comment {
    position: absolute;
    top: 0;
    color: gold;
    vertical-align: top;
}