/* 3 Columns */
@media all and (min-width: 1251px) {
    #main {
        max-width: 1536px;
    }

    .base-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "pane1 pane1 pane1"
            "pane2 pane2 pane2"
            "pane3 pane6 result-pane"
            "pane4 pane6 result-pane"
            "pane5 pane6 result-pane"
            "footer footer footer";
    }

    #status-area {
        display: block;
    }

    #condition-area {
        display: block;
    }
}

/* 2 Columns */
@media all and (min-width: 769px) and (max-width: 1250px) {
    .base-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "pane1 pane1"
            "pane2 pane2"
            "pane3 result-pane"
            "pane4 result-pane"
            "pane5 result-pane"
            "pane6 result-pane"
            "footer footer";
    }

    #status-area {
        display: none;
    }

    #condition-area {
        display: none;
    }
}

/* 1 Column */
@media all and (max-width: 768px) {
    #main {
        min-width: 360px;
    }

    .base-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto minmax(400px, auto) auto;
        grid-template-areas:
            "pane1"
            "pane2"
            "pane3"
            "pane4"
            "pane5"
            "pane6"
            "result-pane"
            "footer";
    }

    #status-area {
        display: none;
    }

    #condition-area {
        display: none;
    }

    .horizontal-list ul {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

body {
    color: blanchedalmond;
    background: linear-gradient(to top, #3d3d3b, #141414);
}

#main {
    font-size: 2.2rem;
}

a:link {
    color: blanchedalmond;
}

a:visited {
    color: blanchedalmond;
}

button {
    padding: 0;
    margin: 1px;
    border-spacing: 2px;
    border: 1px solid gray;
    background-color: black;
    background-size: contain;
    text-align: center;
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px;
}

button:hover {
    border: solid 1px white;
}

button:active {
    border: solid 1px white;
}

button:disabled {
    color: darkgray;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

th {
    font-weight: normal;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
    height: 3.2rem;
}

.horizontal-list {
    margin-top: 1rem;
}

.horizontal-list ul {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.horizontal-list ul li {
    position: relative;
    display: inline-block;
    margin: 0;
}

.horizontal-list ul li img {
    vertical-align: top;
    border-style: double;
    border-width: 0.2rem;
}

.horizontal-list ul li img.element {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    border: none;
}

label {
    margin: 0;
    height: 2.6rem;
    vertical-align: middle;
}

label+select {
    margin-top: 0.1rem;
}

select {
    margin: 0.5rem 0.1rem;
    border: none;
    border-radius: 5px;
}

input[type="number"] {
    width: 8rem;
    height: 2.6rem;
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    border: none;
    border-radius: 3px;
    box-shadow: none;
}

input[type="text"] {
    width: 10rem;
    height: 3.5rem;
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    border: none;
    border-radius: 0.8rem;
    box-shadow: none;
    color: black;
}

input[type="checkbox"] {
    height: 2.6rem;
    margin: 0.5rem 0;
    vertical-align: middle;
}

input[type="checkbox"]+label {
    height: 2.6rem;
    margin: 0.3rem 0;
}

input[type="checkbox"]:checked+label {
    color: gold;
}

input[type="checkbox"]:disabled+label {
    color: gray;
}

.disabled {
    color: gray;
}

fieldset {
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    padding-inline-start: 0.2rem;
    padding-inline-end: 0.2rem;
    padding-block-start: 0.2rem;
    padding-block-end: 0.2rem;
    border-radius: 1rem;
    text-align: center;
}

legend {
    margin: 0;
}

.tab-area {
    width: 100%;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.tab-button {
    display: none;
}

.tab-button+label {
    display: block;
    float: left;
    order: -1;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to top, #ad5b18, #55290b);
    margin: 0.2rem 0;
    border-radius: 0.5rem;
    border-color: #999;
    border-style: solid;
}

.tab-button:checked+label {
    background: linear-gradient(to top, #ecc862, #978310);
    text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 1rem brown, 0 0 0.2rem brown;
}

.tab-button:checked+label+.tab-content {
    display: block;
}

.tab-content {
    display: none;
    width: 100%;
    line-height: normal;
    padding-top: 1rem;
}

.tab-content fieldset legend {
    text-align: center;
}

/* PANE1  */
.pane1 {
    grid-area: pane1;
}

/* PANE2  */
.pane2 {
    grid-area: pane2;
    padding: 5px 0 1rem;
}

[name="element-type-input"] {
    display: none;
}

[name="element-type-input"]+label {
    display: inline;
    height: 35px;
}

#character-select {
    display: none;
}

/* PANE3  */
.pane3 {
    grid-area: pane3;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: auto;
}

.pane3 table {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    border: none;
    vertical-align: bottom;
}

.pane3 select {
    width: 95%;
    margin: 0 auto;
}

#おすすめセットInput {
    margin-bottom: 2rem;
    height: 4rem;
}

.image-button {
    width: 100%;
    padding: 0;
    border-radius: 15px;
}

#character-name {
    font-size: 2.6rem;
    text-align: left;
}

td select {
    text-align: center;
}

td button {
    width: 14rem;
}

td button.wide {
    width: 100%;
}

td input[type="text"] {
    width: 100%;
    text-align: center;
}

button {
    color: blanchedalmond;
}

section {
    vertical-align: baseline;
}

article {
    display: inline-block;
    vertical-align: bottom;
}

article select {
    width: 100%;
    text-align: center;
}

#weapon-detail-and-select {
    display: none;
}

#weapon-detail-and-select th {
    padding: 0.5rem;
}

#weapon-detail-and-select td {
    padding: 0.5rem;
}

#weapon-ability-desc {
    height: 10rem;
    text-align: left;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#artifact-area {
    display: none;
    width: 100%;
    margin-top: 1rem;
}

.complex-4-2 {
    justify-content: center;
}

.complex-4-2 .input-item {
    display: inline-block;
}

.complex-4-2 label {
    font-size: 1.8rem;
}

.columns-3 {
    justify-content: center;
}

.columns-3 .input-item {
    display: inline-block;
    width: calc(100% / 3 - 1rem);
}

.columns-3 label {
    font-size: 1.8rem;
}

#artifactsub-detail th {
    margin-top: 1rem;
    font-size: 2rem;
}

#artifactsub-detail legend {
    text-align: center;
}

#artifactsub-detail td {
    text-align: right;
}

#artifactsub-detail td button {
    width: 90%;
    margin: 1px;
    padding: 1px;
}

#artifactsub-detail-priority {
    margin-top: 1rem;
    border: none;
}

#artifactsub-detail-priority th {
    font-size: 1.8rem;
    border: none;
    padding: 0;
}

#artifactsub-detail-priority td {
    padding: 0.2rem;
    text-align: center;
}

#artifactsub-detail-priority td select {
    width: 100%;
}

/* PANE4 */
.pane4 {
    grid-area: pane4;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.talent-detail {
    display: none;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    border: 1px solid gray;
    border-radius: 1rem;
}

.talent-detail th {
    min-width: 10rem;
    padding: auto 1rem;
    text-align: left;
}

.talent-detail td {
    min-width: 10rem;
    padding: auto 1rem;
    text-align: left;
}

.talent-detail .description {
    padding: 1rem;
}


/* PANE5*/
.pane5 {
    grid-area: pane5;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}


/* PANE6 */
.pane6 {
    grid-area: pane6;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

#option-area {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
}

#status-area {
    margin: 2rem 0;
}

.no-border {
    border: none;
    vertical-align: top;
}

.no-border td {
    vertical-align: top;
}

.no-border td table {
    margin: 0;
}

.status thead {
    text-align: center;
}

.status table {
    white-space: nowrap;
    border-spacing: 0;
}

.status thead th {
    background-color: #141414;
    vertical-align: middle;
    font-size: 2.2rem;
}

.status .opened {
    color: gold;
}

.status th {
    font-size: 2rem;
    text-align: center;
}

.status th, .status td {
    vertical-align: middle;
}

.status td {
    padding-right: 0.5rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: right;
}

.status input[type="number"] {
    padding: auto 1px;
}

.status label {
    font-size: 2rem;
}

.status button {
    width: 8rem;
}

#condition-area {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
}

.tab-button {
    display: none;
}

.tab-button+label {
    float: left;
    order: -1;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to top, #ad5b18, #55290b);
    margin: 0.2rem 0;
    border-radius: 0.5rem;
    border-color: #999;
    border: 2px solid;
}

.input-set1+label {
    width: calc(100% / 4 - 0.9rem);
}

.input-set2+label {
    width: calc(100% / 4 - 0.9rem);
}

.status-area td {
    text-align: right;
}

.status-area td button {
    margin: 1px;
    padding: 1px;
}

.option-box div {
    display: inline;
    margin-left: 0.5rem;
}

.option-box div label {
    margin-right: 0.5rem;
    height: 75%;
}

.option-box div input+label {
    margin-right: 1rem;
}

.option-box div label+select {
    margin-right: 1rem;
}

.option-box div select {
    width: 10rem;
}

.column1-option div {
    display: block;
    text-align: left;
    padding-left: 1rem;
}

/* RESULT PANE */
.result-pane {
    grid-area: result-pane;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    line-height: 3.6rem;
}

/*  */
.open-close {
    width: 18rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to top, #ecc862, #978310);
    text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 1rem brown, 0 0 0.2rem brown;
    border-radius: 0.5rem;
    border-color: #999;
    border-style: solid;
    padding: 0;
    text-align: center;
}

.open-close.closed {
    background: linear-gradient(to top, #ad5b18, #55290b);
}

input+select:checked {
    display: none;
}

input:checked+select {
    display: block;
}

th.base {
    color: rgb(189, 189, 189);
}

table.result {
    margin: 0.5rem 0;
}

input[name="元素反応Input"] {
    display: none;
}

label.elemental-reaction {
    display: inline-block;
    width: calc(100% / 4 - 1.5rem);
    height: 3.5rem;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to top, #3d3d3b, #141414);
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(40, 80, 80), -0.1rem -0.1rem 0.1rem rgb(40, 80, 80);
    border: 1px solid gray;
    border-radius: 5px;
}

input[name="元素反応Input"]+label {
    background: linear-gradient(to top, #ad5b18, #55290b);
    text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem brown, 0 0 0.2rem brown;
}

input[name="元素反応Input"]:checked+label {
    background: linear-gradient(to top, #ecc862, #978310);
    text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 0.2rem brown, 0 0 0.2rem brown;
}

table.result {
    margin: 0.5rem 0;
}

.result th {
    border: 1px solid;
}

th.category {
    width: 12rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 1rem brown, 0 0 0.2rem brown;
    padding-left: 0.5rem;
}

.damage-taken {
    text-align: left;
    padding-left: 1rem;
}

/* BOTTOM PANE */
.bottom-pane {
    grid-area: bottom-pane;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.bottom-pane .tab-content {
    padding-left: 1rem;
}

.footer {
    grid-area: footer;
    padding-left: 1rem;
}

/* 元素色 */
.pyro {
    color: #d2655a;
}

.hydro {
    color: #559cc9;
}

.aero {
    color: #3aaf7a;
}

.electro {
    color: #b681df;
}

.cryo {
    color: #63beb4;
}

.geo {
    color: #df8f37;
}

.pyro-bg {
    background-color: #d2655a;
}

.hydro-bg {
    background-color: #559cc9;
}

.aero-bg {
    background-color: #3aaf7a;
}

.electro-bg {
    background-color: #b681df;
}

.cryo-bg {
    background-color: #63beb4;
}

.geo-bg {
    background-color: #df8f37;
}

.refine-var {
    color: aquamarine;
}

/* レアリティ背景色 */
.star5 {
    background: linear-gradient(to top, #dd7a09, #9c6424);
}

.star4 {
    background: linear-gradient(to top, #59447a, #400b64);
}

/* キャラクター所持状況List */
#キャラクター所持状況List {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    width: 100%;
}

#キャラクター所持状況List li {
    position: relative;
    display: inline-block;
}

#キャラクター所持状況List li div {
    border-style: double;
    border-width: 0.2rem;
}

#キャラクター所持状況List li div img {
    vertical-align: top;
}

#キャラクター所持状況List li div img.darken {
    opacity: 0.5;
}

#キャラクター所持状況List li div img.element {
    position: absolute;
    top: 4px;
    left: 4px;
}

#キャラクター所持状況List li div p {
    position: absolute;
    top: 0;
    right: 4px;
    background: transparent;
    color: blanchedalmond;
    font-size: 24px;
    text-shadow: 0.1rem 0.1rem 0.2rem black, 0 0 1rem brown, 0 0 0.2rem brown;
    margin: 0;
}

/* OCR */
#loading {
    display: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#loading img {
    background-color: transparent;
}