/* 3 Columns */
@media all and (min-width: 1251px) {
    html {
        font-size: 8px;
    }

    body {
        font-size: 8px;
    }

    #main {
        min-width: 1250px;
        max-width: 1536px;
        margin: 0 auto;
        background: linear-gradient(to right, #574014, #3a2e0c);
    }

    .base-container {
        display: grid;
        grid-template-columns: 280px 320px 320px 320px;
        grid-template-rows: 24px 280px 280px 100px auto;
        grid-template-areas: "header header header header""pane2 pane1 pane2 pane3""pane4 pane1 pane2 pane3""footer footer footer footer""history history history history";
    }

    #status-area {
        display: initial;
    }
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    font-size: 1.8rem;
    color: blanchedalmond;
    background-color: rgb(58, 30, 10);
    text-align: center;
    vertical-align: middle;
}

.header {
    grid-area: header;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to top, #ecc862, #978310);
}

.pane2 {
    grid-area: pane2;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
}

.pane1 {
    grid-area: pane1;
    width: 100%;
    position: relative;
}

.pane2 {
    grid-area: pane2;
    width: 100%;
    border: 1 solid;
    background-color: burlywood;
}

.pane3 {
    grid-area: pane3;
    width: 100%;
}

.pane4 {
    grid-area: pane4;
    width: 100%;
}

.footer {
    grid-area: footer;
    width: 100%;
    background-color: coral;
}

a {
    color: blanchedalmond;
}

[name="element-type-input"] {
    display: none;
}

[name="element-type-input"]+label {
    display: inline;
    height: 40px;
}

[name="element-type-input"]:checked+label {
    background-color: aliceblue;
}

.horizontal-list ul {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.horizontal-list ul li {
    position: relative;
    display: inline-block;
    margin: 0;
}

.horizontal-list ul li img {
    vertical-align: top;
    border-style: double;
    border-width: 0.2rem;
}

.horizontal-list ul li img.element {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    border: none;
}
